@use "../../../../assets/scss/common/mixins" as mixin;

.rating {
  @include mixin.flex(center, space-between, null, 25px);
  width: 100%;
  @media screen and (max-width: 1440px) {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
  &__selected {
    width: 60px;

    &_info {
      @include mixin.flex(center, center, column, 2px);
    }
  }

  &__name {
    @include mixin.font(15px, 400, 100%, var(--gray));
    @media screen and (max-width: 1440px) {
      font-size: 12px;
    }
  }

  &__button {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    user-select: none;
    text-wrap: nowrap;
    @include mixin.flex(center, center);
    @include mixin.button(
      10px 25px,
      null,
      2px solid var(--dark-blue),
      5px,
      var(--white),
      18px,
      600,
      var(--dark-blue)
    );
    transition: 0.2s ease-out;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    &:hover {
      background: var(--dark-blue);
      color: var(--white);
    }
  }
}

.choice__rating {
  @include mixin.flex(center, null, null, 15px);
}

.active {
  opacity: 0.4;
}

.chosing {
  @include mixin.flex(center, center, column, 5px);
  cursor: pointer;
  transition: all 0.3 ease;
  &:hover {
    .chosing__img {
      opacity: 0.4;
    }

    .rating__name {
      color: var(--violet);
    }
  }
}

.modalOverlay {
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 576px) {
    padding: 0 8px;
  }
}

.modal {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  @include mixin.flex(center, null, column, null);
  height: 550px;
  max-width: 500px;

  &_cross {
    position: absolute;
    right: 20px;
    top: 20px;
    scale: 1.6;
    cursor: pointer;
  }

  &_title {
    margin-top: 30px;
    @include mixin.font(0.875rem, 400, 1.5, var(--dark));
  }
  &_text {
    @include mixin.font(1rem, 600, null, var(--dark));
    margin-top: 15px;
    margin-bottom: 15px;
    @media screen and (max-width: 576px) {
      font-size: 0.875rem;
    }
  }

  &_comm {
    margin-top: 30px;
    width: 100%;
    @include mixin.flex(center, flex-start, null, null);
    &_input {
      width: 100%;
      padding: 5px 0;
      border-bottom: 1px solid var(--dark);
      @include mixin.font(0.875rem, 400, null, var(--dark));
    }
  }

  &_criterias {
    margin-top: 15px;
    @include mixin.flex(flex-start, center, column, 15px);
    align-self: flex-start;
    &_check {
      @include mixin.flex(center, center, null, 8px);
      @include mixin.font(0.875rem, 600, null, var(--gray));
      cursor: pointer;
    }
  }
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modalButtonConfirm {
  width: 100%;
  margin-top: 15px;
  background: var(--dark-blue);
  @include mixin.font(1rem, 500, null, var(--white));
  border: 2px solid var(--dark-blue);
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    color: var(--dark-blue);
    background: none;
  }
}
