.btn {
  background: var(--dark-blue);
  padding: 15px 20px;
  width: 100%;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3 ease-in;
  &:hover {
    background: #203e79;
  }
}
