@use "../../../assets/scss/common/mixins" as mixin;
.btn {
  @include mixin.flex(center, space-between, null, null);
  background: var(--dark-blue);
  padding: 10px 20px;
  width: 100%;
  color: var(--white);
  border-radius: 5px;
  transition: all 0.3 ease-in;
  &:hover {
    background: #203e79;
  }

  &_left {
    cursor: pointer;
    @include mixin.flex(center, center, null, null);
    padding: 2px;
    background: var(--white);
    border-radius: 5px;
    color: var(--dark-blue);
  }
  &_right {
    cursor: pointer;
    @include mixin.flex(center, center, null, null);
    padding: 2px;
    background: var(--white);
    border-radius: 5px;
    color: var(--dark-blue);
  }
}
