@use "../../assets/scss/common/mixins" as mixin;

.choose__delivery {
  max-height: 58px;
  @include mixin.flex(center, space-between, null, 10px);
  width: 100%;
  border: 2px solid var(--violet);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.expoint {
  max-height: 24px;
  svg {
    path {
      fill: var(--bg-darkblue);
    }
  }
}

.choosed__delivery {
  border-color: var(--green) !important;
}

.order_box {
  @include mixin.flex(flex-start, center, column, 15px);
  max-width: 400px;
  width: 100%;
  background: var(--light);
  padding: 15px;
  border-radius: 5px;
}

.delivery__info {
  @include mixin.flex(center, center, column,3px);
  &_dostavka {
    @include mixin.font(16px, 400, 100%, var(--dark));
  }

  &_address {
    @include mixin.font(13px, 400, 100%, var(--gray));
  }
}


.basket__container{
  @include mixin.flex(flex-start,space-between,null,15px);
  width: 100%;
}

.checkBoxContainer {
  @include mixin.flex(center, null, null, 4px);
  @include mixin.font(14px, 400, null, null);
  background: var(--super-light-white);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.controlContainer {
  @include mixin.flex(center, null, null, 10px);
  margin: 20px 0;
  flex-wrap: wrap;
}
.trashButton {
  cursor: pointer;
  @include mixin.flex(center, center, null, null);
  color: var(--light-gray);
  background: var(--super-light-white);
  border-radius: 5px;
  padding: 7px 7px;

  &:disabled {
    cursor: not-allowed;
    // opacity: 0.5;
  }
}
.basketTilte {
  @include mixin.font(18px, 600, null, var(--dark));
}