@use "../../../assets/scss/common/mixins" as mixin;

.catalogs {
  @include mixin.container(1440px);
  @include mixin.flex(flex-start, flex-start, null, null);
  display: grid;
  grid-template-columns: 1fr 3fr;
  // max-width: 1440px;
  // margin: 0 auto;
  position: relative;

  &__3 {
    padding: 15px;
    position: relative;
  }
  &__9 {
    padding: 10px;
    margin: 0 10px;
    border-left: 1px solid #cfcfcf;
  }
}
.catalogs__9h3 {
  font-size: 18px;
  font-weight: 700;
  color: #424242;
}
.triangle {
  display: inline-flex;
  position: absolute;
  top: -6px;
  right: 8px;
  z-index: 1000;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: transparent transparent #fff;
  content: "";
}
.catalogs__h2 {
  @include mixin.flex(center, space-between, null, null);
  text-decoration: none;
  margin-left: 20px;
  color: #424242;
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  &:hover {
    background: #f2f2f2;
  }
  &.active {
    background: #f2f2f2;
  }
}
.spanChevron {
  @include mixin.flex(center, center, null, null);
  max-height: 20px;
  max-width: 20px;
}
.category__ul {
  @include mixin.flex(null, flex-start, null, 16px);
  flex-wrap: wrap;
  list-style-type: none;
}
.category__li {
  order: 1;
  text-align: left;
  margin: 0 1%;
}
.category__li__h3 {
  font-size: 14px;
  display: block;
  color: #424242;
  font-weight: 600;
  line-height: 14px;
  cursor: pointer;
  &:hover {
    color: var(--violet);
  }
}
.itemContainer {
  @include mixin.flex(flex-start, null, column, 10px);
  width: 25%;
  height: max-content;
}
.category__li__h33 {
  margin: 10px 0;
  font-size: 14px;
  display: block;
  padding: 0 5px;
  color: #424242;
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
  &:hover {
    color: var(--violet);
  }
}
.itemConteinerUL {
  @include mixin.flex(null, null, column, 10px);
}

.subCatalogsUl {
  @include mixin.flex(null, null, column, 10px);
  &__li {
    cursor: pointer;
    font-size: 14px;
    color: #424242;
    font-weight: 400;
    line-height: 14px;
    &:hover {
      color: var(--violet);
    }
  }
}
.subMenu {
  cursor: pointer;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  padding: 0 5px;
  margin: 10px 1%;
}
.buttonsCatalogs {
  @include mixin.flex(center, flex-start, null, null);
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.12s ease-out;
  touch-action: manipulation;
  outline: 0;
  &:hover {
    color: var(--violet);
  }
}
.buttonsSpanCatalogs {
  @include mixin.flex(center, center, null, null);
}
@media screen and (max-width: 992px) {
  .triangle {
    display: none;
  }
  .catalogs {
    max-width: 720px;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .catalogs {
    max-width: 540px;
    border: none;
  }
}
@media screen and (max-width: 576px) {
  .catalogs {
    width: 100%;
  }
  // .category__ul {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  // }
}
@media screen and (max-width: 420px) {
  .catalogs__h2 {
    margin: 0;
  }
  .category__ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 420px) {
  .category__ul {
    grid-template-columns: 1fr;
  }
}
