@use "../../../assets/scss/common/mixins" as mixin;
.modal__form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  &_phone {
    @include mixin.flex(center, center, column, null);
    position: relative;
    width: 100%;

    &_control {
      position: relative;
      width: 100%;
      @include mixin.flex(center, center, null, null);
    }

    &_dropdown {
      border-radius: 5px;
      padding: 5px;
      background: var(--white);
      border: 1px solid rgba(0, 0, 0, 0.15);
      @include mixin.flex(flex-start, center, column, 5px);
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: -165px;

      &_button {
        @include mixin.flex(center, flex-start, null, 0.875rem);
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        padding: 8px 8px;

        &_img {
          border-radius: 5px;
        }
        &_code {
          padding-top: 2px;
          @include mixin.font(14px, 400, null, var(--secondary));
        }
        &:hover {
          background: #f6f6f6;
        }
      }
    }
  }
}

.modal__more_button {
  margin-top: 10px;
  color: var(--dark-blue);
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px dashed var(--dark-blue);

  &:hover {
    color: var(--violet);
    border-bottom: 1px dashed var(--violet);
  }
}

.modal__rememberMe {
  user-select: none;
  margin-top: 15px;
  &_btn {
    padding: 5px 0px;
    cursor: pointer;
    @include mixin.flex(center, center, null, 10px);
  }
  &_check {
    @include mixin.flex(center, center, null, null);
    width: 20px;
    max-height: 20px;
    height: 20px;
    background: var(--white);
    border: 2px solid var(--dark-blue);
    border-radius: 6px;
    padding-bottom: 1px;
  }
  &_checkActive {
    color: white;
    background: var(--dark-blue);
    border-color: var(--dark-blue);
    border: 0;
  }
  &_text {
    @include mixin.font(15px, 500, null, var(--dark));
  }
}

.modal__text {
  width: 100%;
  font-size: 16px;
  text-align: left;
  line-height: 140%;
  color: var(--dark);
}

.modal__button {
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  margin-top: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.4s ease-in;
  &:hover {
    background: var(--violet);
  }
}

.warning {
  @include mixin.font(16px, 400, 100%, var(--violet));
  padding-top: 7px;
  &__icon {
    position: absolute;
    right: 3%;
    top: 29%;
  }
}

.auth__input {
  position: relative;
  @include mixin.font(16px, 600, null, var(--dark));
  width: 100%;
  background: var(--white);
  padding: 10px 5px 10px 70px;
  border-radius: 5px;
  border: 2px solid var(--secondary);

  &:focus + .select__country {
    border-color: var(--dark-blue);
  }
  &:focus {
    border-color: var(--dark-blue);
  }

  &::placeholder {
    @include mixin.font(16px, 400, null, var(--secondary));
    padding: 10px 7px;
  }
}

.auth__label {
  position: relative;
  max-width: 100%;
  max-height: 44px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  padding: 10px 5px 10px 5px;
  border: 2px solid var(--secondary);
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent; // Убираем цвет фона инпута
}

.inputLabel {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  transition: all 0.2s ease-in;
  pointer-events: none; // Чтобы текст метки не мешал при клике на инпут
  text-wrap: nowrap;
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
}

.inputField:focus{
  border: 2px solid var(--dark-blue);
}
.inputField:focus + .inputLabel {
  background-color: var(--white);
  left: 5px;
  top: 0;
  scale: (0.88);
  @include mixin.font(16px, 600, 100% ,var(--dark-blue));
  font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
}



.select__country {
  position: absolute;
  left: 5px;
  border-radius: 5px 0px 0px 5px;
  padding: 7px 5px;
  border-right: 2px solid var(--secondary);
  padding-right: 20px;
  cursor: pointer;
  @include mixin.flex(center, center, null, null);
  &:hover {
    .select__country_arrow {
      svg {
        path {
          fill: var(--dark);
        }
      }
    }
  }

  &_img {
    border-radius: 50px;
  }
  &_arrow {
    position: absolute;
    right: -2px;
    top: 25%;
    @include mixin.flex(center, center, null, null);

    svg {
      path {
        fill: var(--gray);
      }
    }

    &__active {
      @include mixin.flex(center, center, null, null);
      position: absolute;
      right: -2px;
      top: 15%;
      transform: rotate(-180deg);
      svg {
        path {
          fill: var(--dark);
        }
      }
    }
  }
}

// .inputContainer {
//   position: relative;
//   max-width: 100%;
//   max-height: 44px;
// }
// .inputField {
//   width: 100%;
//   padding: 10px 5px 10px 5px;
//   border: 1px solid var(--secondary);
//   border-radius: 4px;
//   font-size: 16px;
//   box-sizing: border-box;
//   background-color: transparent; // Убираем цвет фона инпута
// }

// .inputLabel {
//   position: absolute;
//   left: 10px;
//   top: 50%;
//   transform: translateY(-50%);
//   padding: 0 5px;
//   transition: all 0.3s ease;
//   pointer-events: none; // Чтобы текст метки не мешал при клике на инпут
//   text-wrap: nowrap;
//   font-size: 16px;
//   font-weight: 400;
//   color: var(--gray);
// }

// .inputField:focus,
// .inputField:valid {
//   border: 1px solid var(--dark-blue);
// }
// .inputField:focus + .inputLabel,
// .inputField:valid + .inputLabel {
//   background-color: var(--white);
//   color: var(--dark-blue);
//   left: 5px;
//   top: 0;
//   scale: (0.88);
// }

// .inputField:placeholder-shown + .inputLabel {
//   top: 50%;
//   transform: translateY(-50%);
//   font-size: 16px;
//   color: #aaa; // Цвет текста по умолчанию
// }

@media screen and (max-width: 768px) {
  .modal {
    left: 59%;
  }
}

@media screen and (max-width: 640px) {
  .modal {
    left: 70%;
  }
  .modal__title {
    font-size: 22px;
  }
  .modal__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    left: 73%;
  }
  .modal__title {
    font-size: 22px;
  }
  .modal__text {
    font-size: 18px;
  }
  .modal__button {
    max-width: 100%;
  }
}
