@use "../../../assets/scss/common/mixins" as mixin;

.lk {
  background: var(--secondlight);
  padding: 20px 0;
  min-height: 40vh;
  user-select: none;
}
.informationContainer {
  width: 100%;
  @include mixin.flex(flex-start, space-between, null, null);
}
