@use "../../../assets/scss/common/mixins" as mixin;

.lk {
  background: var(--bg-graylight);
  padding: 20px 0;
  min-height: 40vh;
  user-select: none;
}
.informationContainer {
  width: 100%;
  @include mixin.flex(flex-start, space-between, null, null);

  @media screen and (max-width: 992px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
