@use "../../../assets/scss/common/mixins" as mixin;

.containerUndefined {
  @include mixin.flex(center, center, null, 10px);
  flex-wrap: wrap;
  height: 400px;
  &__parap {
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-dark);
  }
}
.breadContainer {
  padding: 0 15px;
  max-width: 1440px;
  margin: 0 auto;
}
.titleCatalog {
  margin-left: 5px;
  @include mixin.font(25px, 500, 1.2, var(--dark));
}
.container__h1 {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #212529;
}

.showMore {
  display: flex;
  justify-content: center;
}
.breadcrumb {
  padding: 0.75rem 0rem;
}
.links {
  @include mixin.flex(center, null, null, 10px);
}
.link {
  @include mixin.flex(center, center, null, null);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #112b66;
  text-decoration: none;

  &:hover {
    color: var(--violet);
  }
}
.choiseList {
  @include mixin.flex(center, flex-start, null, 10px);
  padding: 0 15px 15px;
  @include mixin.container(1400px);
  flex-wrap: wrap;
  &__li {
    cursor: pointer;
    @include mixin.flex(center, center, null, null);
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    white-space: nowrap;
    padding: 1px 1px 1px 5px;
    background: var(--white);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    &__button {
      color: var(--dark-blue);
      @include mixin.flex(center, center, null, null);
      // background-color: var(--white);
      // border-radius: 100%;
    }
  }
}
.clearAllButton {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
  white-space: nowrap;
  padding: 3px 8px;
  background: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  -webkit-touch-callout: none;
  transition: 0.3s ease-in-out;
  &:hover {
    background: var(--dark-blue);
    color: var(--white);
  }
}
.descriptionContainer {
  @include mixin.flex(null, null, column, 10px);
  margin-bottom: 30px;
  &__categoryTitle {
    @include mixin.font(20px, 500, 1.2, var(--dark));
  }
}
.parapContainer {
  @include mixin.flex(null, null, column, 5px);
  &__keywords {
    @include mixin.font(14px, 400, 1.2, var(--dark));
  }
}

.category__title {
  font-size: 22px;
  color: var(--gray-dark);
  font-weight: 500;
  user-select: none;
}

.category__image {
  margin-top: 10px;
  user-select: none;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.catalog__skeleton {
  width: 100%;
  height: auto;
  padding-bottom: 62.5%; /* Соотношение сторон 16:9 */
  overflow: hidden;

  > span {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.filterSticky {
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 1; /* Подстройте под ваши нужды */
  background-color: white; /* Цвет фона для sticky области */
}
