@use "../../../assets/scss/common/mixins" as mixin;
.containerUndefined {
  @include mixin.flex(center, center, null, 10px);
  flex-wrap: wrap;
  &__parap {
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-dark);
  }
}
.breadContainer {
  padding: 0 15px;
  max-width: 1440px;
  margin: 0 auto;
}
.container__h1 {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #212529;
}
.breadcrumb {
  padding: 0.75rem 0rem;
}
.links {
  @include mixin.flex(center, null, null, 10px);
}
.link {
  @include mixin.flex(center, center, null, null);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #112b66;
  text-decoration: none;

  &:hover {
    color: var(--violet);
  }
}
.choiseList {
  @include mixin.flex(center, flex-start, null, 10px);
  padding: 15px;
  @include mixin.container(1400px);
  flex-wrap: wrap;
  &__li {
    @include mixin.flex(center, center, null, 5px);
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    white-space: nowrap;
    padding: 8px;
    background: var(--violet);
    color: var(--white);
    border-radius: 32px;
    cursor: default;
    -webkit-touch-callout: none;
    &__button {
      color: var(--violet);
      @include mixin.flex(center, center, null, null);
      background-color: var(--white);
      border-radius: 100%;
    }
  }
}
.clearAllButton {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
  white-space: nowrap;
  padding: 5px 12px;
  background: var(--violet);
  color: var(--white);
  border-radius: 32px;
  cursor: default;
  -webkit-touch-callout: none;
  transition: 0.3s ease-in-out;
  &:hover {
    background: var(--dark-blue);
  }
}
