@use "../../../assets/scss/common/mixins" as mixin;

.catalog_main {
  position: relative;
}

.grid_inactive {
  display: none;
}

.grid_active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.grid_item {
  padding: 10px 15px;
  min-height: 150px;

  background: var(--gray-white);
  &:active {
    background: var(--secondary);
  }
  @media screen and (max-width: 620px) {
    min-height: 170px;
  }
  @media screen and (max-width: 470px) {
    min-height: 130px;
    padding: 10px 5px;
  }
}

.grid_item_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.grid_img {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 8px 0 0 0;

  @media screen and (max-width: 470px) {
    height: 70px;
    width: 70px;
  }
}

.item_title {
  text-align: left;
  width: 100%;

  @media screen and (max-width: 470px) {
    font-size: 14px;
  }
  @media screen and (max-width: 380px) {
    font-size: 12px;
  }
}
