@use "../../../assets/scss/common/mixins" as mixin;
// for empty
.controlContainer {
  @include mixin.flex(center, null, null, 10px);
  margin: 20px 0;
}
.checkBoxContainer {
  @include mixin.flex(center, null, null, 4px);
  @include mixin.font(14px, 500, null, null);
  background: var(--super-light-white);
  padding: 8px 12px;
  border-radius: 5px;
}
.trashButton {
  @include mixin.flex(center, center, null, null);
  color: var(--light-gray);
  background: var(--super-light-white);
  border-radius: 5px;
  padding: 7px 7px;
}
.cardsContainer {
  @include mixin.flex(center, space-between, null, 4px);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px #d7d7d7;
}
.leftPart {
  @include mixin.flex(flex-start, null, null, 10px);
  &__imageContainer {
    @include mixin.flex(center, center, null, null);
    max-width: 156px;
    max-height: 156px;
    overflow: hidden;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__informationContainer {
    @include mixin.flex(flex-start, null, column, 10px);
    &__title {
      @include mixin.font(14px, 400, null, #112b66);
    }
    &__articul {
      @include mixin.font(14px, 400, null, #ccc);
    }
  }
}
