@use "../../../assets/scss/common/mixins" as mixin;
// for empty
.cardsAllContainer {
  width: 100%;
  @include mixin.flex(null, null, column, 15px);
}
.cardsContainer {
  @include mixin.flex(flex-start, space-between, null, 4px);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px #d7d7d7;
  max-width: 1057px;
  &:hover .rigthPart__priceContainer__buttons {
    opacity: 1;
    visibility: visible;
  }
}
.leftPart {
  @include mixin.flex(flex-start, null, null, 10px);
  &__imageContainer {
    position: relative;
    @include mixin.flex(center, center, null, null);
    max-width: 156px;
    max-height: 156px;
    overflow: hidden;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__informationContainer {
    @include mixin.flex(flex-start, null, column, 10px);
    &__title {
      max-width: 380px;
      @include mixin.font(14px, 400, null, #112b66);
    }
    &__articul {
      @include mixin.font(14px, 400, null, #ccc);
    }
    &__delivery {
      @include mixin.flex(center, null, null, 5px);
      @include mixin.font(14px, 400, null, #0c54a1);
    }
  }
}
.rigthPart {
  max-width: 404px;
  width: 100%;
  @include mixin.flex(center, space-between, null, 5px);
  &__priceContainer {
    @include mixin.flex(null, null, column, 5px);
    &__buttons {
      // opacity: 0;
      // visibility: hidden;
      @include mixin.flex(center, null, null, 5px);
    }
  }
}
.checkBoxPosition {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
