@use "../../assets/scss/common/mixins" as mixin;

.skeletons {
  background: var(--bg-graylight);
  padding-bottom: 50px;

  &__cards {
    padding: 17px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    @media screen and (max-width: 1440px) {
      gap: 20px;
      padding: 20px 0;
    }
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 2fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 480px) {
      gap: 10px;
      padding: 10px 0;
    }

    > span {
      max-height: 204.75px;
    }
  }
}

.skeleton {
  width: 100%;
  height: 204.75px;
  border-radius: 5px;

}

.profile {
  background: var(--bg-graylight);
  padding-bottom: 50px;
  &__showMore {
    text-decoration: none;
    text-decoration: underline;
    color: var(--dark);
  }
  &__img {
    border-radius: 50px;
  }
  &__cards {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    @media screen and (max-width: 1440px) {
      gap: 20px;
      padding: 20px 0;
    }
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 2fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 480px) {
      gap: 10px;
      padding: 10px 0;
    }
  }

  &__userInfo {
    user-select: none;
    padding: 15px;
    background: var(--white);
    border-radius: 5px;
    @include mixin.flex(null, space-between, column, null);
    max-height: 204.75px;
    height: 204.75px;
    transition: all 0.3s ease;
    min-width: 100%;
    overflow: hidden;
    &_header {
      @include mixin.flex(flex-start, null, null, 20px);
    }

    &_footer {
      @include mixin.flex(center, space-between, null);
      padding-top: 20px;
      width: 100%;
    }

    &_name {
      @include mixin.font(18px, 600, null, var(--dark));
      padding-top: 10px;
    }

    &_icon {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      @include mixin.flex(center, center);
    }

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__exit {
    cursor: pointer;
    padding: 5px 20px;
    color: rgba(0, 0, 0, 0.45);
    border: 2px solid rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    font-weight: 600;

    transition: 0.3s ease;
    &:hover {
      color: var(--dark);
      border: 2px solid var(--dark);
    }
  }

  &__settings {
    @include mixin.flex(center, null, null, 7px);
    @include mixin.font(16px, 400);
    color: rgba(73, 73, 73, 1);

    svg {
      path {
        stroke: rgba(73, 73, 73, 1);
      }
    }

    &:hover {
      color: var(--violet);
      svg {
        path {
          stroke: var(--violet);
        }
      }
    }
  }
}

.orders {
  color: rgba(73, 73, 73, 1);

  &__count {
    @include mixin.font(16px, bold, null, var(--dark));
  }

  &__images {
    @include mixin.flex(flex-end, null, null, 10px);
    max-width: 100%;
    @media screen and (max-width: 1440px) {
      overflow: auto;
    }
    &__toCatalog {
      width: 100%;
      @include mixin.flex(flex-end, center, column, 5px);
    }
  }
  &__imageContainer {
    @include mixin.flex(center, center, null, null);
    max-width: 75px;
    max-height: 75px;
    overflow: hidden;
    border-radius: 5px;
    @media screen and (max-width: 1440px) {
      min-width: 60px;
      max-width: 60px;
      height: 60px;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__img {
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background: var(--secondlight);
    @include mixin.flex(center, center);
    @media screen and (max-width: 1440px) {
      min-width: 60px;
      max-width: 60px;
      height: 60px;
    }
    span {
      transform: rotate(-45deg);
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      @media screen and (max-width: 1440px) {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}

.phone {
  padding-top: 15px;
  @include mixin.flex(center, null, null, 5px);
  @include mixin.font(16px, 400, null);
  color: rgba(73, 73, 73, 1);

  &__number {
    @include mixin.font(16px, 600, null);
    color: rgba(73, 73, 73, 1);
  }
}

.city {
  padding-top: 1px;
  @include mixin.flex(flex-start, null, null, 5px);
  @include mixin.font(16px, 400, null);
  color: rgba(73, 73, 73, 1);
  &__name {
    @include mixin.font(16px, 400, null);
    color: rgba(73, 73, 73, 1);
    max-width: 220px;
  }
}
