.modal {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  /* min-height: 100vh;
  max-height: max-content; */
  overflow-y: auto;
  background: #fff;
  z-index: 100;
  display: none;
  visibility: hidden;
  transition: 0.3s;
}

.wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.show {
  visibility: visible;
  display: block;
}

.childwrap {
  height: max-content;
}
