@use "../../../assets/scss/common/mixins" as mixin;

.containerConfirm {
  @include mixin.flex(center, center, null, 10px);
  margin: 20px 0 0 0;
}
.inputConfirm {
  border-radius: 5px;
  border: 2px solid var(--gray);
  padding: 10px 20px;
  max-width: 60px;
  @include mixin.font(24px, 700, null, var(--dark));

  &:focus {
    border: 2px solid var(--dark-blue);
  }
}
.modalButtons {
  @include mixin.flex(center, space-between);
  margin-top: 20px;
}
.modalButton {
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.4s ease-in;

  &:hover {
    background: var(--violet);
  }
}
.loader__container {
  @include mixin.flex(center, center, column, 30px);
  min-height: 173px;
  border-radius: 10px;
}
.disabledButton {
  background: var(--gray);
  &:hover {
    background: var(--gray); /* Убедитесь, что фон не меняется при наведении */
  }
}

.loader {
  border: 5px solid var(--dark-blue);
  border-top: 5px solid #112b6670;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
