@use "../../../assets/scss/common/mixins" as mixin;

.containerConfirm {
  @include mixin.flex(center, center, null, 10px);
  margin: 20px 0;
}
.inputConfirm {
  border-radius: 5px;
  border: 2px solid var(--gray);
  padding: 10px 20px;
  max-width: 60px;
  @include mixin.font(24px, 700, null, var(--dark));

  &:focus {
    border: 2px solid var(--dark-blue);
  }
}
.modalButtons {
  @include mixin.flex(center, space-between);
  margin-top: 20px;
}
.modalButton {
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.4s ease-in;

  &:hover {
    background: var(--violet);
  }
}
