@use "../../assets/scss/common/mixins" as mixin;
.wrap {
  @include mixin.flex(null, flex-start, null, 20px);
}

.wrapInfo {
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  @include mixin.flex(null, null, column, 20px);
  @media screen and (max-width: 576px) {
    padding: 0px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  @media screen and (max-width: 480px) {
    padding: 0px 8px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.wrapInfoItem {
  @include mixin.flex(null, null, column, 10px);
  max-width: 1200px;
}
.wrapInfoItemTitle{
  text-align: justify;
  @media screen and (max-width: 576px) {
    max-width: 600px;
    font-size: 0.8125rem;
  }
  @media screen and (max-width: 480px) {
    max-width: 300px;
    font-size: 10px;
  }
}
.wrapInfoItemDesc{
  text-align: justify;
  @media screen and (max-width: 576px) {
    max-width: 600px;
    font-size: 0.8125rem;
  }
  @media screen and (max-width: 480px) {
    max-width: 300px;
    font-size: 10px;
  }
} 

