@use '../../../assets/scss/common/mixins' as mixin;

.product__aboutTheProduct {
  &_wrap {
    @include mixin.font(14px, 400, 120%, var(--dark));
    max-height: 100px; // ограничение высоты блока текста
    overflow: hidden; // скрытие переполнения текста
    position: relative; // для абсолютного позиционирования псевдоэлемента
    line-height: 1.4 !important;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 70px; // высота градиентного затенения
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      // градиент от прозрачного к белому
    }
  }

  &_button {
    @include mixin.font(14px, 500, null, var(--light-blue));
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: var(--violet);
    }
  }

  &_desc {
    @include mixin.font(14px, 500, null, var(--dark));
    margin-bottom: 5px;
  }
}
