@use '../../../../assets/scss/common/mixins' as mixin;
@use '../../../../assets/scss/common/skeleton' as skeleton;

.popcat__skeleton{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (max-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 280px) {
        grid-template-columns: repeat(3, 1fr);
    }
    &_card{
        @include mixin.flex(center,center,column);
        height: 180px;

        &_img{
            @include skeleton.skeleton(93.5px,93.5px,10px);
            border-radius: 10px;
        }
        &_title{
            @include skeleton.skeleton(200px,15px,10px);
            border-radius: 10px;
        }
    }
}


