@use "../../assets/scss/common/mixins" as mixin;
.app {
  background: var(--white);
  position: fixed;
  bottom: -50px;
  @include mixin.flex(null, space-between, null, null);
  z-index: 100;
  width: 100%;
}
