@use "../../../assets/scss/common/mixins" as mixin;

.product__swipers {
  @include mixin.flex(flex-start, flex-start, row, 30px);
  max-height: 500px; // Set the maximum height for the container
  overflow: hidden; // Hide any overflow content
}

.product__cards {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 60px; // Установим ширину вместо max-width
  max-height: 45 0px !important;
  &:hover,
  &:active {
    .sliderArrow {
      opacity: 1;
    }
  }
  @media screen and (max-width: 672px) {
    display: none !important;
  }
}

.product__cards_item {
  width: 60px !important;
  height: 60px !important; // Установим фиксированную высоту
  border-radius: 5px;
  overflow: hidden;
  user-select: none;
}

.activeSlide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;

  position: relative;

  user-select: none;
  border-radius: 8px;

  max-width: 500px;
  height: auto; // Установим фиксированную высоту
  &:hover {
    .sliderArrow {
      opacity: 1;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 15%);
    z-index: 1 !important;
    width: 500px;
    max-width: 500px;
  }

  @media screen and (max-width: 475px) {
    max-width: 350px;
    &_iframe {
      width: fit-content;
      scale: 0.55;
    }
  }
}

.product_img {
  max-width: 450px; // Установим максимальную ширину для зума
  max-height: 500px; // Установим максимальную высоту для зума
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_preview {
  cursor: pointer;
  object-fit: cover;
  max-width: 60px; // Установим фиксированную ширину миниатюр
  max-height: 60px; // Установим фиксированную высоту миниатюр
  border-radius: 5px;
  svg {
    width: 100% !important;
    height: 100% !important;
  }
  &:hover {
    border: 2px solid var(--violet);
    border-radius: 5px;
  }
}

.swiper_slide {
  max-height: 60px;
  width: 100%;
  &:hover {
    border: 2px solid var(--violet);
    border-radius: 5px;
  }
}

.sliderArrow {
  opacity: 0;
  position: absolute;
  top: 40%;
  z-index: 2;
  cursor: pointer;
  &_left {
    left: 0;
  }
  &_right {
    right: 0;
  }
  &_top {
    top: 0;
    rotate: 90deg;
  }
  &_bottom {
    bottom: -50%;
    z-index: 999;
    rotate: 90deg;
  }
  @media screen and (max-width: 672px) {
    display: none;
  }
}

.mainSwiperWrap {
  max-width: 500px;
  max-height: 500px;
  @include mixin.flex(flex-start, center, column, 5px);
  @media screen and (max-width: 672px) {
    @include mixin.flex(stretch, stretch, column, 0);
  }
  &_btn {
    @include mixin.button(
      5px 10px,
      null,
      1px solid var(--white),
      5px,
      var(--dark-blue),
      16px,
      600,
      var(--white)
    );
    transition: all 0.3s linear;
    &:hover,
    :active {
      border: 1px solid var(--dark-blue);
      background: var(--white);
      font-weight: 700;
      color: var(--dark-blue);
    }
  }
}

.little_show_more {
  background: #000000;
  opacity: 0.5;
  color: var(--white);
  transition: all 0.3s linear;
  &:hover {
    opacity: 0.6;
    svg {
      scale: 1.8;
    }
  }
  @include mixin.flex(center, center, column);
  transition: all 0.3s linear;
  svg {
    scale: 1.5;
    transition: all 0.3s ease-in;
  }
}

.seeAll {
  position: absolute;
  bottom: 0;
  left: 15%;
  margin: 0 0 0.8em 1em;
  z-index: 2;
  user-select: none;
  transition: all 0.2s linear;
  @media screen and (max-width: 1410px) {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 0.9em 2em;
  }

  @media screen and (max-width: 476px) {
    margin: 0 0 0.8em 2em;
    font-size: 14px;
  }

  @include mixin.button(
    null,
    null,
    null,
    8px,
    null,
    14px,
    600,
    var(--dark-blue)
  );
  // -webkit-text-stroke: 0.1px #ffffff; /* Толщина и цвет обводки */
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
}

.banner {
  display: none;
  @media screen and (max-width: 1280px) {
    display: block;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
