@use '../../assets/scss/common/mixins' as mixin;

.not__found{
    @include mixin.flex(center,center);
    height: 720px;

    @media screen and (max-width:768px) {
        height: 100vh;
    }
    &_container{
        @include mixin.flex(center,center,column)
    }
    &_title{
        @include mixin.font(40px,500, 120%, var(--black));
        text-align: center;
        max-width: 1000px;
        margin-bottom: 20px;
        text-wrap: wrap;
        @media screen and (max-width: 768px) {
            font-size: 28px;
        }  
        @media screen and (max-width: 480px) {
            font-size: 20px;
        }
    }

    &_error{
        @include mixin.font(72px,800,120%,var(--black));
    }

    &_reasons{
        @include mixin.flex(null,null,column, 20px);
        color: var(--black);
        max-width: 1000px;
        margin-bottom: 20px;
    }
}

.error__reason{
    @include mixin.font(24px,600,150%,var(--black));
    text-align: center;
    @media screen and (max-width: 480px) {
            font-size: 18px;
        }
}

.reason__name{
    @include mixin.font(20px,500,150%,var(--black));
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
            @media screen and (max-width: 480px) {
            font-size: 14px;
        }
}

.goToMain{
    text-decoration: none;

    &__button{
        @include mixin.button(
            12px 24px,null,2px solid var(--dark-blue),5px,transparent,20px,600, var(--dark-blue)
        );
        transition: 0.3s ease-in-out;
    }

    &__button:hover{
        background: var(--dark-blue);
        color: var(--white);
    }
    
}

