@use "../../../assets/scss/common/mixins" as mixin;

.cards {
  @include mixin.flex(flex-start, flex-start, column, 15px);
  width: 100%;
}

.cardsContainer {
  @include mixin.flex(flex-start, space-between, null, 15px);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px #d7d7d7;
  width: 100%;
  &:hover .rigthPart__priceContainer__buttons {
    opacity: 1;
    visibility: visible;
  }
  @media screen and (max-width: 768px) {
    line-height: 1.2;
  }
}
.leftPart {
  width: 100%;
  @include mixin.flex(flex-start, null, null, 10px);
  &__imageContainer {
    position: relative;
    @include mixin.flex(center, center, null, null);
    max-width: 156px;
    max-height: 156px;
    overflow: hidden;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__informationContainer {
    @include mixin.flex(flex-start, null, column, 10px);
    &__title {
      max-width: 380px;
      @include mixin.font(14px, 400, null, #112b66);
    }
    &__articul {
      @include mixin.font(14px, 400, null, #ccc);
    }
    &__delivery {
      @include mixin.flex(center, null, null, 5px);
      @include mixin.font(14px, 400, null, #0c54a1);
    }
  }
}
.rigthPart {
  max-width: 404px;
  width: 100%;
  @include mixin.flex(center, space-between, null, 5px);
  &__priceContainer {
    @include mixin.flex(null, null, column, 5px);
    &__buttons {
      // opacity: 0;
      // visibility: hidden;
      @include mixin.flex(center, null, null, 5px);
    }
  }
}
.checkBoxPosition {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .rigthPart {
    width: 40%;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }
  .rigthPart {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    &__priceContainer {
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
  .leftPart {
    &__informationContainer {
      gap: 5px;
      &__title {
        line-height: 1.2;
      }
      &__delivery {
        &__parap {
          line-height: 1.2;
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .rigthPart {
    flex-wrap: wrap;
    gap: 5px;
  }
  .leftPart {
    &__informationContainer {
      gap: 2px;
      &__title {
        line-height: 1;
      }
      &__delivery {
        &__parap {
          line-height: 1;
        }
      }
    }
  }
}
.ItemPriceCard {
  &__minQty {
    @include mixin.font(14px, 400, 100%, var(--dark));
    margin-top: 10px;
  }
  &__cost {
    @include mixin.flex(flex-end, null, null, 10px);
    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
      gap: 0;
    }
  }
  &__price {
    @include mixin.flex(center, null, null, 3px);
    @include mixin.font(18px, bold, 100%, var(--dark));

    &_custom {
      @include mixin.font(18px, bold, 100%, var(--dark));
      border-bottom: 3px solid var(--dark);
    }
    &_discount {
      @include mixin.font(14px, 500, 100%, var(--dark));
      background: var(--violet);
      color: var(--white);
      border-radius: 5px;
      padding: 3px;
    }
    &_new {
      @include mixin.font(18px, bold, 100%, var(--violet));
      @include mixin.flex(center, null, null, 3px);
      &_custom {
        @include mixin.font(18px, bold, 100%, var(--violet));
        border-bottom: 3px solid var(--violet);
      }
    }
  }
  &__old_price {
    @include mixin.font(16px, 500, 100%, var(--gray-dark));
    text-decoration: line-through;
  }
}
.quantityContainer {
  padding: 4px 5px;
  background: var(--gray-white);
  border: 2px solid var(--gray-white);
  color: var(--dark);
  cursor: pointer;
  border-radius: 5px;
  @include mixin.flex(center, null, null, 3px);
}
.priceCustomContainer {
  @include mixin.flex(center, null, null, 3px);
}
.priceCustom {
  margin-right: 3px;
  line-height: 100%;
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
}
