@use "../../../assets/scss/common/mixins" as mixin;

.OrdersHistory,
.orders {
  background: var(--bg-graylight);
  padding: 20px 0;
  min-height: 40vh;
  user-select: none;
}

.icon {
  @include mixin.flex(center, center);
  min-width: 75px;
  height: 75px;
  background: transparent;
  border-radius: 5px;
  @media screen and (max-width: 992px) {
    display: none;
  }

  span {
    height: 100%;
    @include mixin.font(16px, bold, null, var(--white));
    @include mixin.flex(center, center);
    text-transform: uppercase;
  }
}

.isEmpty {
  @include mixin.flex(center, space-between, null, 20px);
  background: var(--white);
  border-radius: 5px;
  padding: 15px;

  &__content {
    @include mixin.flex(center, null, null, 10px);
  }

  &__desc {
    max-width: 750px;
  }

  &__button {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    user-select: none;
    @include mixin.flex(center, center);
    @include mixin.button(
      10px 25px,
      null,
      2px solid var(--dark-blue),
      5px,
      var(--white),
      18px,
      600,
      var(--dark-blue)
    );
    transition: 0.2s ease-out;
    &:hover {
      background: var(--dark-blue);
      color: var(--white);
    }
  }
}

.card {
  @include mixin.flex(center, null, null, 15px);
  border-radius: 5px;
  width: 100%;
  background: var(--white);
  margin-bottom: 20px;
  padding: 15px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__info {
    @include mixin.flex(center, space-between, null, 10px);
    max-width: 550px;
    width: 100%;

    &_title {
      cursor: pointer;
      @include mixin.font(1.125rem, 500, 100%, var(--dark));
      max-width: 400px;
      transition: 0.2s all;
      &:hover {
        color: var(--violet);
      }
    }
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.status {
  @include mixin.font(18px, 500, 100%, var(--green));

  &__info {
    @include mixin.flex(center, center, column, 5px);
    max-width: 150px;
    width: 100%;

    @media screen and (max-width: 1200px) {
      align-items: flex-start;
    }
  }

  &__date {
    @include mixin.font(14px, 400, 100%, var(--gray));
  }

  &__fail {
    @include mixin.font(18px, 500, 100%, var(--red));
  }

  &__delivery {
    @include mixin.font(18px, 500, 100%, var(--yellow));
  }
}

.rating {
  @include mixin.flex(center, null, null, 20px);
  width: 100%;
}
