@use "../../../assets/scss/common/mixins" as mixin;

.container_position {
  position: fixed;
  left: 3%;
  right: 3%;
  bottom: 70px;
  z-index: 199;
  transition: all 0.5s ease;

  display: none !important;
  @media screen and (max-width: 992px) {
    display: block !important;
  }

  &_scrolled {
    bottom: 12px;
  }
}

.btn {
  display: none;
  @include mixin.font(1.125rem, 700, null, var(--violet));
  max-width: 100%;
  width: 100%;
  padding: 8px 0px;
  bottom: 60px;

  border-radius: 5px;
  @media screen and (max-width: 992px) {
    @include mixin.flex(center, center);
    transition: all 0.5s ease;
  }

  &_simbol {
    // @include mixin.flex(flex-start);
    @include mixin.font(18px, bold, 100%, var(--violet));
    padding-bottom: 5px;
    padding-left: 3px;
    // border-bottom: 2.5px solid var(--violet);
    text-decoration: 2px underline var(--violet);
  }
}

.btn_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn_buy {
  background: var(--white);
  border: 2px solid var(--violet);
  color: var(--violet);
}

.btn_cart {
  display: none;
  background: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  color: var(--white);

  @media screen and (max-width: 992px) {
    display: block;
  }
}
