@use "../../../assets/scss/common/mixins" as mixin;

.btn {
  display: none;
  @include mixin.font(1.125rem, 700, null, var(--violet));
  max-width: 100%;
  width: auto;
  padding: 8px 0px;
  bottom: 70px;
  background: var(--white);

  position: fixed;
  left: 3%;
  right: 3%;
  z-index: 199;
  border: 2px solid var(--violet);
  border-radius: 5px;
  color: var(--violet);
  @media screen and (max-width: 992px) {
    display: inline-block;
  }

  &_simbol {
    @include mixin.font(16px, 700, 100%, var(--violet));
    border-bottom: 2px solid var(--violet);
  }
}
