@use "../../../../assets/scss/common/mixins" as mixin;
.containerPersonalData {
  @include mixin.flex(null, null, column, 20px);
  max-width: 710px;
  background: var(--white);
  border: 2px solid var(--secondary);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}

.dropdown {
  position: relative;
}
.dropdownContainer {
  @include mixin.flex(null, null, column, 4px);
  padding: 15px;
  position: absolute;
  top: 50px;
  width: 100%;
  margin: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: 0.3s;
}
.dropdownContainerActive {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.cityContainer {
  cursor: pointer;
  @include mixin.flex(center, space-between, null, null);
  width: 100%;
  padding: 10px;
  border: 2px solid var(--secondary);
  border-radius: 4px;
  text-wrap: nowrap;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  overflow: hidden;
  &:hover {
    border: 1px solid var(--dark-blue);
  }
}
.dropdownItem {
  border-radius: 5px;
  padding: 5px;
  color: var(--dark);
  cursor: pointer;
  &:hover {
    background: var(--gray-white);
    // color: var(--violet);
  }
}
.buttonSave {
  @include mixin.flex(center, center, null, null);
  @include mixin.font(14px, 400, null, var(--white));
  background: var(--dark-blue);
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  align-self: flex-end;
  padding: 10px 0px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s all;

  &:hover:not(:disabled) {
    background: var(--violet);
  }
}
.buttonSaveDisabled {
  background: var(--light-gray);
}
.checkBoxContainer {
  @include mixin.flex(center, null, null, 10px);
}
