@use "../../../../assets/scss/common/mixins" as mixin;

.wrapper {
  background: var(--secondlight);
}

.order {
  padding-top: 20px;
  @include mixin.flex(center, null, null, 20px);
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &_manager {
    @include mixin.flex(flex-start, flex-start, null, 20px);
    padding: 20px;
    max-width: 540px;
    width: 100%;
    background: var(--white);
    border-radius: 5px;
    max-height: 150px;
    min-height: 150px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 1120px) {
      max-height: 170px;
      min-height: 170px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }

    &__info {
      @include mixin.flex(flex-start, center, column, null);
      &_name {
        @include mixin.font(1rem, 500, 1.4, var(--dark));
        @media screen and (max-width: 768px) {
          font-size: 0.875rem;
        }
      }
      &_contact {
        @include mixin.font(0.875rem, 400, 1.4, var(--dark));
        @media screen and (max-width: 768px) {
          font-size: 0.8125rem;
        }
      }
      &_workTime {
        @include mixin.font(0.875rem, 400, 1.4, var(--dark));
        @media screen and (max-width: 768px) {
          font-size: 0.8125rem;
        }
      }
    }
  }

  &__header {
    @include mixin.flex(flex-start, space-between, null, null);
    max-width: 860px;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    background: var(--white);
    max-height: 150px;
    min-height: 150px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 1120px) {
      flex-direction: column;
      max-height: 170px;
      min-height: 170px;
    }
  }

  &__title {
    max-width: 350px;
    @include mixin.font(1rem, 500, null, color(--dark));
    @media screen and (max-width: 768px) {
      font-size: 0.875rem;
    }
  }

  &__progress {
    max-width: 300px;
    width: 100%;
    @include mixin.flex(flex-start, center, column, null);

    @media screen and (max-width: 1120px) {
    }

    &_status {
      @include mixin.font(1.125rem, 500, 1.2, #51b54a);
      width: 100%;
      border-bottom: 2px dashed #51b54a;

      @media screen and (max-width: 768px) {
        width: 90%;
        font-size: 1rem;
      }

      &_fail {
        @include mixin.font(1.125rem, 500, 1.2, var(--red));
        width: 100%;
        border-bottom: 2px dashed var(--red);
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
      &_delivery {
        @include mixin.font(1.125rem, 500, 1.2, var(--warning));
        width: 100%;
        border-bottom: 2px dashed var(--warning);
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    &_date {
      margin-top: 15px;
      @include mixin.font(0.875rem, 400, null, #424242);
      @media screen and (max-width: 768px) {
        font-size: 0.75rem;
      }
    }
    &_bar {
      margin-top: 15px;
      @include mixin.flex(center, center, null, 4px);
      &_start {
        background: var(--dark-blue);
        width: 12px;
        height: 12px;
        border-radius: 8px;
        @media screen and (max-width: 768px) {
          width: 10px;
          height: 10px;
        }
      }
      &_line {
        border: 2px solid #d9d9d9;
        width: 45px;
        height: 1px;
        border-radius: 5px;
        background-color: #d9d9d9;
        @media screen and (max-width: 768px) {
          width: 30px;
        }
      }
      &_middle {
        background: #d9d9d9;
        width: 12px;
        height: 12px;
        border-radius: 8px;
        @media screen and (max-width: 768px) {
          width: 10px;
          height: 10px;
        }
      }
      &_end {
        border: 3px solid #0c54a1;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        @media screen and (max-width: 768px) {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
