@use "../../../assets/scss/common/mixins" as mixin;

.container {
  position: relative;
  @include mixin.flex(null, flex-end, null, null);
  margin: 0 auto;
  top: 0;
  right: 0;
}
// .wrapper {
//   @include mixin.flex(center, null, column, null);
//   position: fixed;
//   background: var(--white);
//   z-index: 100;
//   width: 500px;
//   height: 500px;
//   top: 0;
//   right: 0;
// }
.wrapper {
  @include mixin.flex(flex-start, null, column, null);
  position: fixed;
  background: var(--white);
  z-index: 200;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%); // начальное положение за пределами экрана
  transition: transform 0.9s ease-in-out; // анимация с плавным переходом в течение 0.9 секунд
  padding: 24px;
  // border-top-left-radius: 10px;
  overflow-y: auto;
}

.visible {
  transform: translateX(0); // конечное положение, когда элемент видимый
}
.aboutProduct {
  &__h2 {
    @include mixin.font(22px, 500, null, var(--dark));
  }
  &__container {
    @include mixin.flex(center, space-between, null, null);
    margin-bottom: 16px;
    &__btn {
      scale: 2;
      cursor: pointer;
    }
    &__h2 {
      @include mixin.font(22px, 500, null, var(--dark));
    }
  }
}
