@use "../../../assets/scss/common/mixins" as mixin;
.wrap {
  user-select: none;
  &_title {
    @include mixin.font(20px, 600, 120%, var(--dark));
    margin-bottom: 10px;
    user-select: none;
  }
  &_review {
    margin-bottom: 15px;
    &_grade_title {
      @include mixin.font(16px, 400, null, var(--dark));
    }
    &_grade_btns {
      margin-top: 10px;
      max-width: 37.5rem;
    }
    &_grade_short_desc {
      margin-top: 10px;
      max-width: 30rem;
      @include mixin.font(0.9375rem, 400, null, var(--dark));
    }
    &_grade_rating {
      margin-top: 15px;
      @include mixin.flex(center, flex-start, null, 25px);
      margin-bottom: 10px;
      margin-left: 10px;

      &_ocenka {
        margin-right: 10px;
        @include mixin.flex(null, center, null, null);
        position: relative;
        margin-top: 5px;
        &_rating {
          @include mixin.flex(center, center, null, 25px);
          &_star {
            scale: 1.8;
            background: none;
            border: none;
            cursor: pointer;
          }
        }
        @media screen and (max-width: 576px) {
          margin: 10px auto 25px;
        }
      }
    }
    &_otz {
      position: relative;
      &_item {
        height: 272px !important;
        background: var(--white);
        box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
        border-radius: 15px;
        padding: 25px;
      }
    }
  }
  &_otz {
    padding: 5px !important;
    margin-top: 20px !important;
  }
}

.card__header {
  @include mixin.flex(center, space-between, null, 20px);

  &_content {
    width: 100%;
    @include mixin.flex(flex-start, space-between);
  }

  &_userImage {
    border-radius: 50%;
  }

  &_user {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  &_date {
    font-size: 16px;
    color: #868695;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.card__content {
  margin-top: 15px;
  &_desc {
    color: var(--dark);
    line-height: 22px;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      line-height: 16px;
    }
  }
}

.team__swiper_buttons {
  position: relative;
  z-index: 10;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 99.5%;
  left: 0.4%;

  @media screen and (max-width: 640px) {
    display: none;
  }
}

.team__swiper_btn {
  top: 45%;
  z-index: 20;
  cursor: pointer;
  position: absolute;
  box-shadow: 0px 0px 6px 3px rgba(22, 24, 26, 0.2);
  background: var(--white);
  padding: 12.5px 14px 10px 15px;
  border-radius: 10px;
  border: none;
  &_left {
    left: 0;
  }
  &_right {
    right: 0;
  }
}
