@use "../../../assets/scss/common/mixins" as mixin;

.section {
  @include mixin.item__border(1px, solid, #e6e6e6, 8px);
  padding: 15px 20px;
}

.content_wrap {
  width: 100%;
  margin-bottom: 15px;
}

.sectionTitle {
  margin-bottom: 8px;
}
