@use "../../../assets/scss/common/mixins" as mixin;

.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--dark);
  opacity: 0.5;
}

.wrap {
  user-select: none;
  @include mixin.flex(center, center, column, null);
  background: #f6f6f6;
  padding: 15px;
  border-radius: 10px;
  max-width: 350px;
  position: sticky;
  top: 0;
  @media screen and (max-width: 992px) {
    width: 100%;
    align-self: center;
  }
  &_warning {
    @include mixin.font(1rem, 400, null, var(--violet));
    width: 100%;
  }
  &_delivery {
    @include mixin.flex(center, space-between, null, 20px);
    padding: 5px 10px;
    width: 100%;
    border: 2px solid var(--violet);
    background: var(--white);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all;
    &_success {
      border: 2px solid var(--success);
    }
    &_title {
      @include mixin.font(1rem, 400, null, var(--dark));
      text-wrap: nowrap;
    }
    &_expoint {
      color: var(--violet);
      padding-top: 5px;
    }
    &_approve {
      color: var(--success);
      padding-top: 5px;
    }
  }
  &_payment {
    margin-top: 15px;
    @include mixin.flex(center, space-between, null, null);
    width: 100%;
    padding: 5px 10px;
    border: 2px solid var(--violet);
    background: var(--white);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all;
    &_success {
      border: 2px solid var(--success);
    }
    &_title {
      @include mixin.font(1rem, 400, null, var(--dark));
    }
    &_expoint {
      color: var(--violet);
      padding-top: 5px;
    }
    &_approve {
      color: var(--success);
      padding-top: 5px;
    }
  }
  &_phone {
    margin-top: 15px;
    position: relative;
    @include mixin.flex(center, center, column, null);
    width: 100%;
    &_control {
      width: 100%;
      @include mixin.flex(center, center, null, null);
      &_selectCountry {
        position: relative;
        border-right: 2px solid #f6f6f6;
        background: var(--white);
        border-radius: 5px 0px 0px 5px;
        padding: 8.2px 5px;
        padding-right: 20px;
        cursor: pointer;
        @include mixin.flex(center, center, null, null);
        &_img {
          border-radius: 5px;
        }
        &_arrow {
          position: absolute;
          right: -2px;
          top: 25%;
          @include mixin.flex(center, center, null, null);
          &__active {
            @include mixin.flex(center, center, null, null);
            position: absolute;
            right: -2px;
            top: 15%;
            transform: rotate(-180deg);
          }
        }
      }
      &_input {
        @include mixin.font(16px, 400, null, var(--dark));
        width: 100%;
        background: var(--white);
        padding: 10px 5px;
        border-radius: 0px 5px 5px 0px;
        border: 2px solid var(--white);
        &:focus {
          border: 2px solid var(--dark-blue);
        }
      }
    }
    &_dropdown {
      border-radius: 5px;
      padding: 5px;
      background: var(--white);
      border: 1px solid rgba(0, 0, 0, 0.15);
      @include mixin.flex(flex-start, center, column, 5px);
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: -165px;

      &_button {
        @include mixin.flex(center, flex-start, null, 0.875rem);
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        padding: 8px 8px;

        &_img {
          border-radius: 5px;
        }
        &_code {
          padding-top: 2px;
          @include mixin.font(14px, 400, null, var(--secondary));
        }
        &:hover {
          background: #f6f6f6;
        }
      }
    }
  }
  &_surname {
    margin-top: 15px;
    @include mixin.flex(center, center, column, null);
    width: 100%;
    &_input {
      @include mixin.font(16px, 400, null, var(--dark));
      width: 100%;
      background: var(--white);
      padding: 10px 5px;
      border-radius: 5px;
      border: 2px solid var(--white);
      &:focus {
        border: 2px solid var(--dark-blue);
      }
    }
  }
  &_organization {
    margin-top: 15px;
    @include mixin.flex(flex-start, center, column, null);
    width: 100%;
    &_dropdownToggler {
      padding: 0px 20px;
      cursor: pointer;
      position: relative;
      @include mixin.font(0.875rem, 700, null, var(--dark));
      @include mixin.flex(center, flex-start, null, null);
      width: 100%;
      transition: 0.2s all;
      &:hover {
        color: var(--violet);
        > span {
          color: var(--violet);
        }
      }
      &_arrow {
        color: var(--dark);
        left: 0;
        top: -5px;
        position: absolute;
        transform: rotate(-90deg);
        transition: 0.2s all;
        &__active {
          color: var(--dark);
          left: 0;
          top: -2px;
          position: absolute;
          transition: 0.2s all;
          transform: rotate(0deg);
        }
      }
    }
    &_dropdown {
      height: 0;
      overflow-y: hidden;
      transition: 0.3s all;
      &__active {
        margin-top: 15px;
        height: 150px;
        transition: 0.3s all;
      }
      &__name {
        @include mixin.font(16px, 400, null, var(--dark));
        width: 100%;
        background: var(--white);
        padding: 10px 5px;
        border-radius: 5px;
        border: 2px solid var(--white);
        &:focus {
          border: 2px solid var(--dark-blue);
        }
      }
      &__inn {
        margin-top: 15px;
        @include mixin.font(16px, 400, null, var(--dark));
        width: 100%;
        background: var(--white);
        padding: 10px 5px;
        border-radius: 5px;
        border: 2px solid var(--white);
        &:focus {
          border: 2px solid var(--dark-blue);
        }
      }
      &_nds {
        margin-top: 15px;
        @include mixin.flex(baseline, flex-start, null, 5px);

        &_switch {
          font-size: 17px;
          position: relative;
          display: inline-block;
          width: 52px;
          height: 22px;

          > input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          &__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            border: 1px solid #adb5bd;
            transition: 0.2s;
            border-radius: 30px;

            &::before {
              position: absolute;
              content: "";
              height: 16px;
              width: 24px;
              border-radius: 20px;
              left: 3px;
              bottom: 2px;
              background-color: #adb5bd;
              transition: 0.2s;
            }
          }

          input:checked + &__slider {
            background-color: var(--dark-blue);
            border: 1px solid var(--dark-blue);
          }

          input:focus + &__slider {
            box-shadow: 0 0 1px var(--dark-blue);
          }

          input:checked + &__slider::before {
            transform: translateX(21px);
            background-color: #fff;
          }
        }
      }
    }
  }
  &_price {
    margin-top: 15px;
    width: 100%;
    @include mixin.flex(center, flex-start, column, null);
    &_good {
      @include mixin.flex(center, space-between, null, null);
      width: 100%;
      &_count {
        @include mixin.font(1rem, 400, null, var(--dark));
        position: relative;
        width: 45%;
        text-wrap: nowrap;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   margin-left: 0.3em;
        //   bottom: 0.35em;
        //   width: 100%;
        //   border-bottom: 0.1em dotted;
        // }
      }
      &_finalPrice {
        @include mixin.font(1rem, 400, null, var(--dark));
      }
    }
    &_nds {
      margin-top: 5px;
      margin-bottom: 5px;
      @include mixin.flex(center, space-between, null, null);
      width: 100%;
      &_text {
        @include mixin.font(1rem, 400, null, var(--dark));
        position: relative;
        width: 50%;
        text-wrap: nowrap;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   margin-left: 0.3em;
        //   bottom: 0.35em;
        //   width: 100%;
        //   border-bottom: 0.1em dotted;
        // }
      }
      &_price {
        @include mixin.font(1rem, 400, null, var(--dark));
      }
    }
    &_priceTotal {
      @include mixin.flex(center, space-between, null, null);
      width: 100%;
      &_totalTitle {
        @include mixin.font(1.125rem, 700, null, var(--dark));
        position: relative;
        width: 55%;
        text-wrap: nowrap;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   margin-left: 0.3em;
        //   bottom: 0.35em;
        //   width: 100%;
        //   border-bottom: 0.1em dotted;
        // }
      }
      &_price {
        @include mixin.font(1.125rem, 700, null, var(--dark));
      }
    }
  }
  &_orderRequest {
    margin-top: 15px;
    @include mixin.flex(center, center, null, null);
    @include mixin.font(1rem, 400, null, var(--white));
    background: var(--dark-blue);
    cursor: pointer;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  &_privacy {
    text-align: center;
    align-self: center;
    width: 100%;
    margin-top: 15px;
    @include mixin.font(0.75rem, 400, null, var(--dark));
  }
}
