@use '../../assets/scss/common/mixins' as mixin;
.aboutCompany{
    @include mixin.flex(null, center, null, null);
}

.aboutCompanyInfo{
    padding: 0px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include mixin.flex(center, null, column, 20px);
    @media screen and (max-width: 480px) {
        padding: 0px 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.aboutCompanyItem{
    @include mixin.font(0.875rem, 400, 20px, var(--dark));
    max-width: 1200px;
    @media screen and (max-width: 480px){
        font-size: 0.8125rem;
    }
}