

.filters{
    display: flex;
    gap: 15px;

    &__sections{
        width: 400px;
    }
}

.filterbtn{
    color: var(--white);
    background: var(--dark-blue);
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}