@use "../../../assets/scss/common/mixins" as mixin;

.sub_catalog_wrap {
  display: none;
}

.sub_catalog_wrap_active {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu_wrap {
  @include mixin.flex(center, space-between, null, null);

  max-height: 22px;
  width: auto;

  background: #e8e8e8;
  border-radius: 10px;
  padding: 20px 10px;
}

.icon_wrap {
  margin-top: 3px;
  margin-right: 15px;
}

.menu_wrap span {
  width: 100%;
}

.subCatalogsName {
  margin-top: 5px;
}

.hr {
  @include mixin.item__border(2px, solid, #e1e1e1, 8px);
  margin: 10px 20px;
}

.subCatalogsList {
}

.subCatalogsListItem {
  @include mixin.flex(center, space-between, null, null);

  background: #e8e8e8;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
}
