@use "../../../assets/scss/common/mixins" as mixin;

.sub_catalog_wrap {
  display: none;
}

.sub_catalog_wrap_active {
  display: block;
  width: 100%;
  height: max-content;
  background: var(--white);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.selectedCat_wrap {
  @include mixin.flex(center, null, null, 10px);
  margin-top: 5px;

  max-height: 22px;
  width: auto;

  user-select: none;
  -webkit-tap-highlight-color: var(--tap-select);

  background: var(--light-white);
  border-radius: 10px;
  padding: 20px 10px;
}

.leftIcon_wrap {
  rotate: 180deg;
}

.menu_wrap span {
  width: 100%;
}
