.logo{
    max-width: 210px;
    height: 42px;
    cursor: pointer;

    &__img{
        min-width: 100%;
        height: 100%;
    @media screen and (max-width: 992px) {
        max-width: 180px;
        height: 30px;
    }
     @media screen and (max-width: 640px) {
        max-width: 140px;
        height: 25px;
    }
    }

    @media screen and (max-width: 992px) {
        max-width: 180px;
        height: 30px;
    }
        @media screen and (max-width: 640px) {
        max-width: 140px;
        height: 25px;
    }
}