@use "../../../assets/scss/common/mixins" as mixin;

.modal {
  @include mixin.container(1420px);
  @include mixin.flex(center, space-between, null, 10px);
  text-align: center;
  max-width: 100%;
  padding: 0.875rem 1rem;

  position: fixed;
  top: -100%;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
  transition: top 0.3s ease-in-out;

  opacity: 0;
  background-color: var(--dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  &__title {
    @include mixin.font(18px, 500, null, var(--white));
    line-height: 1.2;
    width: 100%;
  }
}

.modal.open {
  top: 80px;
  opacity: 1;
}
.closeModal {
  @include mixin.flex(center, center, null, null);
  @include mixin.font(18px, 500, null, var(--white));
  cursor: pointer;
  scale: 1.4;
}
@media screen and (min-width: 1400px) {
  .modal {
    line-height: 1.1;
  }
}

@media screen and (max-width: 992px) {
  .modal {
    left: 10px;
    right: 10px;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .modal.open {
    top: 40px;
    z-index: 3;
  }
  .modal {
    padding: 0.75rem 0.875rem;
    &__title {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 576px) {
  .modal.open {
    top: 20px;
  }
  .modal {
    padding: 0.625rem 0.75rem;
    &__title {
      font-size: 16px;
    }
  }
}
