@use "../../assets/scss/common/mixins" as mixin;
.wrap {
  margin-top: 100px;
}
.productContainer {
  @include mixin.flex(null, space-between, null, null);
}
.miniCardsColumn {
  @include mixin.flex(null, null, column, null);
}
.productPreview {
  cursor: pointer;
  margin-bottom: 15px;
}
.productInfo {
  max-width: 50%;
}
.productName {
  margin-top: 15px;
  margin-bottom: 15px;
}
.productInfoTitle {
  @include mixin.font(1.125rem, 700, null, var(--gray-dark));
}
.productArticle {
  @include mixin.font(0.875rem, 400, null, var(--dark-blue));
  background-color: var(--secondary-white);
  padding: 1px 10px;
  border-radius: 0.25rem !important;
}
.productOcenka {
  @include mixin.flex(null, null, null, 5px);
  margin-top: 15px;
  margin-bottom: 15px;
}
.brand {
  @include mixin.font(0.875rem, 400, null, var(--secondary-gray));
}
.productInfoHr {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--secondary-white);
  height: 1px;
  width: 100%;
}
.price {
  @include mixin.font(1.25rem, 700, null, var(--gray-dark));
}
.ddos {
  border-radius: 0.25rem !important;
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 80%;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
  margin-top: 10px;
  @include mixin.flex(center, null, null, 5px);
  @include mixin.font(14px, 400, null, var(--light-blue));
  &__icon {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 360px) {
    max-height: 30px;
    overflow: hidden;
  }
  &__text {
    max-height: 28px;

    @include mixin.font(14px, 700, null, var(--success));
    @media screen and (max-width: 640px) {
    }
  }
}

.add__to {
  margin-top: 15px;
  @include mixin.flex(null, space-between, null, 10px);
  width: 90%;

  &_cart {
    background: var(--dark-blue);
    cursor: pointer;
    color: var(--white);
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    @include mixin.flex(center, center, null, 10px);
    transition: 0.3s all ease;
    &:hover {
      background: var(--violet);
    }
    @media screen and (max-width: 480px) {
      @include mixin.font(14px, 400, 100%, var(--white));
    }
    &_icon {
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  }

  &_fav {
    background: var(--gray-white);
    border: 2px solid var(--gray-white);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      border: 2px solid var(--violet);
    }

    &_icon {
      @include mixin.flex(center, center);
      height: 20px;
    }
    &_active {
      border: 2px solid var(--violet);
    }
    @media screen and (max-width: 480px) {
      padding: 5px;
    }
  }
}

.buyBtn {
  cursor: pointer;
  @include mixin.flex(center, center, null, null);
  @include mixin.font(1rem, 700, null, var(--violet));
  width: 100%;
  border: 2px solid var(--violet);
  border-radius: 5px;
  transition: 0.5s all;
  &:hover {
    border: 2px solid var(--dark-blue);
    background: var(--dark-blue);
    color: var(--white);
  }
}
.share {
  position: relative;
}
.shareBtn {
  @include mixin.flex(center, center, null, null);
  background: var(--gray-white);
  border: 2px solid var(--gray-white);
  position: relative;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    border: 2px solid var(--violet);
  }
  &_active {
    border: 2px solid var(--info);
  }
}
.shareBtnDropdown {
  display: none;

  &_active {
    top: 130%;
    right: 0;
    padding: 15px;
    position: absolute;
    background: var(--white);
    border-radius: 5px;
    @include mixin.flex(flex-start, null, column, 10px);
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
  }
}
.tg,
.wh,
.copy {
  @include mixin.flex(center, center, null, 5px);
  cursor: pointer;

  &:hover {
    .telegramBtn,
    .whatsappBtn,
    .copyLinkBtn {
      color: var(--violet);
    }
  }
}
.telegramBtn,
.whatsappBtn,
.copyLinkBtn {
  @include mixin.font(0.8125rem, 500, null, var(--dark));
  text-wrap: nowrap;
  cursor: pointer;
}
