@keyframes scaleUp {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  max-width: 500px;
  padding: 25px;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0 0 10px -6px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
  animation: scaleUp 0.3s ease-out forwards;
}

.modal__exit {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  opacity: 0.6;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal__exit:hover {
  opacity: 1;
}

.modal__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal__title {
  font-size: 20px;
  font-weight: 400;
}
