@use "../../../../assets/scss/common/skeleton" as skeleton;

.slideWithPadding {
  padding-bottom: 40px;
}

.swiper__slide {
  cursor: pointer;
  user-select: none;
  border-radius: 5px;

  @media screen and (max-width: 640px) {
    padding-bottom: 30px;
  }
  &_img {
    border-radius: 10px;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 640px) {
      min-height: 180px;
      padding: 0 10px;
    }
    @media screen and (max-width: 480px) {
      min-height: 140px;
      padding: 0;
    }
    @media screen and (max-width: 360px) {
      min-height: 100px;
      width: 100%;
    }
    &_skeleton {
      max-width: 1390px;
      margin: 0 auto;
      min-height: 394.28px;
      @include skeleton.skeleton(auto, 20em, null);
      @media screen and (max-width: 992px) {
        height: 15em;
        padding: 0 30px;
      }
      @media screen and (max-width: 640px) {
        max-height: 180px;
      }
      @media screen and (max-width: 480px) {
        max-height: 140px;
        padding: 0;
        margin-bottom: 0;
      }
      @media screen and (max-width: 360px) {
        max-height: 100px;
        width: 100%;
      }
    }
  }
}

