@use "../../../assets/scss/common/mixins" as mixin;

.section_wrap {
  @include mixin.flex(null, null, column, 15px);
  width: 100%;
}

.ItemPriceCard {
  user-select: none;
  max-width: 344px;
  width: 100%;
  background: var(--light-white);
  border-radius: 10px;
  padding: 18px;
  @media screen and (max-width: 1410px) {
    max-width: none;
  }
  &__minQty {
    @include mixin.font(14px, 400, 100%, var(--dark));
    margin-top: 10px;
  }
  &__cost {
    @include mixin.flex(flex-end, null, null, 10px);
  }
  &__price {
    @include mixin.flex(center, null, null, 3px);
    @include mixin.font(28px, bold, 100%, var(--dark));

    &_custom {
      @include mixin.font(18px, bold, 100%, var(--dark));
      border-bottom: 3px solid var(--dark);
    }
    &_discount {
      @include mixin.font(14px, 500, 100%, var(--dark));
      background: var(--violet);
      color: var(--white);
      border-radius: 5px;
      padding: 3px;
    }
    &_new {
      @include mixin.font(28px, bold, 100%, var(--violet));
      @include mixin.flex(center, null, null, 3px);
      &_custom {
        @include mixin.font(18px, bold, 100%, var(--violet));
        border-bottom: 3px solid var(--violet);
      }
    }
  }
  &__old_price {
    @include mixin.font(16px, 500, 100%, var(--gray-dark));
    text-decoration: line-through;
  }
}

.ItemPriceCard__ddos {
  margin-top: 14px;
  @include mixin.flex(null, null, column, 5px);
  &_info {
    @include mixin.flex(center, flex-start, null, 5px);
  }

  &_desc,
  &_title {
    @include mixin.font(14px, 400, 100%, var(--dark));
  }
}

.ItemPriceCard__buttons {
  @include mixin.flex(center, space-between, null, 15px);
  margin-top: 15px;
  &_cart {
    @include mixin.flex(center, center, null, 10px);
    background: var(--dark-blue);
    padding: 8px;
    font-weight: bold;
    width: 100%;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease-in;
    &:hover {
      background: #203e79;
    }
  }
  &_buy {
    padding: 10px;
    width: 100%;
    font-weight: bold;

    background: var(--violet);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #811f48;
    }
  }
}
.linkCart {
  text-decoration: underline;
  color: var(--dark);
}

.ItemPriceCard__salesman {
  margin-top: 15px;
  &_title {
    @include mixin.font(14px, 400, 100%, var(--dark));
    &_custom {
      @include mixin.font(14px, 400, 100%, var(--dark));
    }
  }
}
.shareIcon {
  @include mixin.flex(center, null, null, 10px);
}
.share {
  position: relative;

  &_btnControl {
    @include mixin.flex(center, null, null, 5px);
    cursor: pointer;
    &:hover {
      > span {
        color: var(--violet);
      }
    }

    &_shareBtn {
      color: var(--dark);
      @include mixin.flex(center, flex-start, null, null);
      cursor: pointer;
      transition: 0.2s;
      max-width: 20px;
      max-height: 18px;
      scale: 0.9;
    }
    &_info {
      @include mixin.font(14px, 400, null, var(--dark));
    }
  }
}
.heartIconShare {
  color: var(--dark);
  cursor: pointer;
}
.heartIconShareFill {
  color: var(--red);
}
