@use "../../../assets/scss/common/mixins" as mixin;

.section_wrap {
  @include mixin.flex(null, null, column, 15px);
  width: 100%;
}

.ItemPriceCard {
  position: relative;
  user-select: none;
  max-width: 344px;
  width: 100%;
  background: var(--light-white);
  border-radius: 10px;
  padding: 18px;
  @media screen and (max-width: 1410px) {
    max-width: none;
    // height: 100%;
  }
  @media screen and (max-width: 1280px) {
    height: 100%;
  }
  &__minQty {
    @include mixin.font(14px, 400, 100%, var(--dark));
    margin-top: 10px;
  }
  &__cost {
    @include mixin.flex(flex-end, null, null, 10px);
  }
  &__price {
    @include mixin.flex(center, null, null, 3px);
    @include mixin.font(28px, bold, 100%, var(--dark));

    &_custom {
      @include mixin.font(18px, bold, 100%, var(--dark));
      border-bottom: 3px solid var(--dark);
    }
    &_discount {
      @include mixin.font(14px, 500, 100%, var(--dark));
      background: var(--violet);
      color: var(--white);
      border-radius: 5px;
      padding: 3px;
    }
    &_new {
      @include mixin.font(28px, bold, 100%, var(--violet));
      @include mixin.flex(center, null, null, 3px);
      &_custom {
        @include mixin.font(18px, bold, 100%, var(--violet));
        border-bottom: 3px solid var(--violet);
      }
    }
  }
  &__old_price {
    @include mixin.font(16px, 500, 100%, var(--gray-dark));
    text-decoration: line-through;
  }
}

.ItemPriceCard__ddos {
  margin-top: 14px;
  @include mixin.flex(null, null, column, 5px);
  &_info {
    @include mixin.flex(center, flex-start, null, 5px);
  }

  &_desc,
  &_title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include mixin.font(14px, 400, 100%, var(--dark));
  }
}

.ItemPriceCard__buttons {
  @include mixin.flex(center, space-between, null, 8px);
  min-width: 150px;
  margin-top: 15px;
  &_cart {
    @include mixin.flex(center, center, null, 10px);
    background: var(--dark-blue);
    padding: 8px;
    font-weight: 700;
    min-width: 150px;
    width: 100%;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease-in;
    &:hover {
      background: #203e79;
    }
    @media screen and (max-width: 480px) {
      min-width: 120px;
      padding: 10px;
    }
    @media screen and (max-width: 360px) {
      min-width: 0;
      font-weight: 600;
      font-size: 14px;
    }
  }
  &_buy {
    padding: 10px;
    width: 100%;
    font-weight: bold;
    min-width: 150px;
    background: var(--violet);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #811f48;
    }
    @media screen and (max-width: 480px) {
      min-width: 120px;
    }
    @media screen and (max-width: 360px) {
      min-width: 0;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
.linkCart {
  text-decoration: underline;
  color: var(--blue);
}

.ItemPriceCard__salesman {
  cursor: pointer;
  margin-top: 15px;
  max-width: 100px;
  text-wrap: nowrap;

  &_title {
    @include mixin.font(0.875rem, 400, 100%, var(--dark));
    @include mixin.flex(center, null, null, 5px);
    @media screen and (max-width: 992px) {
      padding: 5px 0px;
    }
    &_icon {
      color: var(--dark);
    }
    &_custom {
      @include mixin.font(0.875rem, 400, 100%, var(--dark));
    }
    &_arrowUp {
      margin-left: -4px;
      cursor: pointer;
      @include mixin.flex(center, center, null, null);
      transition: 0.3s all;
      transform: rotate(180deg);
    }
    &_arrowDown {
      margin-left: -4px;
      cursor: pointer;
      @include mixin.flex(center, center, null, null);
      transition: 0.3s all;
      transform: rotate(0deg);
    }
  }
  &_ipModal {
    padding: 20px;
    text-wrap: nowrap;
    @include mixin.flex(center, space-between, null, null);
    width: 100%;
    left: 0;
    bottom: -100px;
    border-radius: 5px;
    background: var(--light-white);
    z-index: 10;
    position: absolute;
    &::after {
      display: inline-flex;
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translate(-50%);
      z-index: 1000;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px;
      border-color: transparent transparent var(--light-white);
      content: "";
    }
    &_name {
      @include mixin.flex(flex-start, flex-start, column, null);
      &_text {
        @include mixin.font(1rem, 400, null, var(--dark));
      }
    }
    &_info {
      @include mixin.flex(flex-start, flex-start, column, null);
      &_text {
        @include mixin.font(1rem, 400, null, var(--dark));
      }
    }
  }
}
.shareIcon {
  text-wrap: nowrap;
  @include mixin.flex(center, space-between, null, 10px);
  user-select: none;
}
.share {
  position: relative;

  &_btnControl {
    @include mixin.flex(center, center, null, 5px);
    cursor: pointer;
    &:hover {
      > span {
        color: var(--violet);
      }
    }

    &_shareBtn {
      color: var(--dark);
      @include mixin.flex(center, center, null, null);
      cursor: pointer;
      transition: 0.2s;
      max-width: 20px;
      max-height: 18px;
      scale: 0.9;
    }
    &_info {
      @include mixin.font(0.875rem, 400, null, var(--dark));
    }
  }
}
.heartIconShare {
  color: var(--dark);
  cursor: pointer;
}
.heartIconShareFill {
  color: var(--red);
}
