.skeleton__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
    .skeleton_items:nth-child(11),
    .skeleton_items:nth-child(12) {
      display: none !important;
    }
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    .skeleton_items:nth-child(10),
    .skeleton_items:nth-child(9) {
      display: none !important;
    }
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    .skeleton_items:nth-child(8),
    .skeleton_items:nth-child(7) {
      display: none !important;
    }
  }
  @media screen and (max-width: 480px) {
    gap: 5px;
    row-gap: 5px;
  }
}

.skeleton_items {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--gray-white);
  border-radius: 5px;
  gap: 10px;
  padding: 10px 16px;
  width: 100% !important;

  @media screen and (max-width: 640px) {
    padding: 10px 10px;
  }
  @media screen and (max-width: 420px) {
    padding: 10px 4px;
    gap: 5px;
  }
}

.skeletonImage {
  width: 80px;
  height: 80px;

  @media screen and (max-width: 640px) {
    width: 50px;
    height: 50px;
  }
  @media screen and (max-width: 420px) {
    width: 35px;
    height: 35px;
  }
}

.skeletonImageName {
  width: 130px;
  height: 18px;
  @media screen and (max-width: 640px) {
    width: 100px;
    height: 15px;
  }
  @media screen and (max-width: 640px) {
    width: 60px;
    height: 10px;
  }
}
