.container {
  display: flex;
  justify-content: space-between;
  max-width: 1264px;
  padding: 0 15px;
  margin: 0 auto;
}
.containerProducts {
  max-width: 1022px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.rating {
  &__span {
    text-shadow: 1px 1px #999;
  }
}
.buttons {
  display: flex;
  align-items: center;
  gap: 7px;
  &__heart {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(246, 246, 246, 1);
    padding: 10px;
    font-size: 20px;
    &:hover {
      outline: 2px solid #991a4e;
    }
  }
  &__busket {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-image: linear-gradient(88.03deg, #112b66 1.19%, #991a4e 97.58%);
    background-size: 300% 100%;
    padding: 10px 24px;
    border-radius: 5px;
    color: white;
    &:hover {
      transition: all 0.4s ease-in-out;
      background: linear-gradient(88.03deg, #112b66 1.19%, #991a4e 97.58%);
    }
  }
}
.delivery {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0c54a1;
  font-size: 12px;
  line-height: 1.2;
  &__span {
    max-width: 165px;
  }
}
.product__price {
  font-size: 16px;
  font-weight: bold;
  color: #424242;
}
.product__name {
  max-width: 196px;
  font-size: 14px;
  color: rgba(98, 101, 106, 1);
}
.product__code {
  font-weight: 400;
  font-size: 14px;
  color: #0c54a1;
}
.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  &__head {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
  }
  &__foot {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
  }
}
.sortsContainer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.sortContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sortItem {
  font-size: 14px;
  color: #112b66;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px dashed #424242;
}
.sortsItem {
  font-size: 14px;
  color: #112b66;
  font-weight: 600;
}
.sortButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}
