@use "../../assets/scss/common/mixins" as mixin;
// for empty
.section {
  @include mixin.flex(center, space-between, row);
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px 2em;
  color: #424242;
  margin: 5em auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);

  transition: all 0.3s linear;
  &:hover {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
  }
  @media screen and (max-width: 920px) {
    align-items: center;
    flex-direction: column;
    margin: 1em 5em;
    padding: 20px;
  }
  @media screen and (max-width: 780px) {
    align-items: center;
    flex-direction: column;
    margin: 1em 5em;
    padding: 20px;
  }
  @media screen and (max-width: 650px) {
    align-items: center;
    flex-direction: column;
    margin: 1em;
    padding: 15px 10%;
  }
}

.content {
  @include mixin.flex(center, center, row);

  &_text {
    @include mixin.flex(flex-start, center, column);
    padding: 0 15px;
    &_h1 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 5px;
    }
  }
  @media screen and (max-width: 920px) {
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 650px) {
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.linkToMain {
  text-align: center;
  padding: 8px 2em;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  border: 2px solid #112b66;
  background: #112b66;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: #112b66;
    background: #fff;
    border: 2px solid #112b66;
  }
  @media screen and (max-width: 920px) {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
}

//for ne empty

.basketTilte {
  @include mixin.font(1.25rem, 700, null, var(--dark));
  margin-top: 20px;
}

.default__card_column {
  @include mixin.flex(center, space-between, null, 15px);
  max-width: 100%;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    .default__card_name_column {
      color: var(--violet);
    }
  }
  &_right {
    @include mixin.flex(center, null, null, 15px);
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.default__card_buttons_column {
  max-width: 500px;
  width: 100%;
  border-left: 1px solid #e6e6e6;
  padding-left: 15px;
  @include mixin.flex(flex-start, space-between, column, 20px);
  &_price {
    @include mixin.flex(center, space-between);
    width: 100%;
    @media screen and (max-width: 992px) {
      align-items: flex-end;
    }
    @media screen and (max-width: 640px) {
      align-items: center;
    }
  }
  @media screen and (max-width: 992px) {
    border: none;
    max-width: 100%;
    gap: 10px;
    padding-left: 0;
  }
}

.minimal__items {
  @include mixin.font(16px, 400, 100%, var(--light-gray));
  @media screen and (max-width: 992px) {
    display: none;
  }
}
