@use "../../../assets/scss/common/mixins" as mixin;
.sidebar {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 20px;
  user-select: none;
  margin-top: 20px;
  min-width: 300px;
  padding: 30px;
  outline: 1px solid var(--super-light-white);
  border-radius: 10px;
  @include mixin.flex(null, null, column, 25px);
  @media screen and (max-width: 1200px) {
    display: none; 
  }
  @media screen and (max-width: 576px) {
    margin-left: 8px;
    padding: 8px;
  }
}
.sidebarItem {
  @include mixin.flex(null, null, column, null);
}
.sidebarItemInfoTitle {
  @include mixin.font(16px, 700, null, var(--gray-dark));
  @media screen and (max-width: 576px) {
    font-size: 0.875rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.8125rem;

  }
}
.sidebarItemLinks {
  margin-top: 10px;
  @include mixin.flex(null, null, column, 2px);
  @media screen and (max-width: 576px){
    gap: 8px;
    padding: 5px 0px;
  }
  @media screen and (max-width: 480px) {
    gap: 5px;
  }
}
.sidebarItemLinksLink {
  text-wrap: nowrap;
  @include mixin.link(0.875rem, 400, var(--gray-dark));
  transition: 0.1s all;
  &:hover {
    color: var(--violet);
  }
  @media screen and (max-width: 576px){
    font-size: 0.8125rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.625rem;
  }
}
.sidebarItemLinksLinkActive {
  position: relative;
  display: inline-block;  
  text-wrap: nowrap;
  @include mixin.link(0.875rem, 600, var(--gray-dark));
  @media screen and (max-width: 576px) {
    font-size: 0.8125rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.625rem;
  }
}
.sidebarItemLinksLinkActive::after {
  width: 100%;
  border-radius: 2px;
  padding: 8px 0px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  right: 0;
  background: var(--gray-white);
  z-index: -1; 
}