@use "../../../assets/scss/common/mixins" as mixin;
.sidebar {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  min-width: 250px;
  padding: 10px;
  outline: 1px solid var(--super-light-white);
  border-radius: 5px;
  height: 100%;
  @include mixin.flex(null, null, column, 25px);
  @media screen and (max-width: 1200px) {
    display: none; 
  }
  @media screen and (max-width: 576px) {
    margin-left: 8px;
    padding: 8px;
  }
}
.sidebarItem {
  @include mixin.flex(null, null, column, null);
}
.sidebarItemInfoTitle {
  @include mixin.font(16px, 700, null, var(--gray-dark));
  padding: 0px 5px;

  @media screen and (max-width: 576px) {
    font-size: 0.875rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.8125rem;

  }
}
.sidebarItemLinks {
  margin-top: 10px;
  @include mixin.flex(null, null, column, 5px);
  @media screen and (max-width: 576px){
    gap: 8px;
    padding: 5px 0px;
  }
  @media screen and (max-width: 480px) {
    gap: 5px;
  }
}
.sidebarItemLinksLink {
  text-wrap: nowrap;
  padding: 0px 5px;
  @include mixin.link(0.875rem, 400, var(--gray-dark));
  transition: 0.1s all;
  &:hover {
    color: var(--violet);
  }
  @media screen and (max-width: 576px){
    font-size: 0.8125rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.625rem;
  }
}
.sidebarItemLinksLinkActive {
  @include mixin.link(0.875rem, 500, var(--gray-dark));
  padding: 0px 5px;
  text-wrap: nowrap;
  background: var(--gray-white);
  @media screen and (max-width: 576px) {
    font-size: 0.8125rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.625rem;
  }
}
