@use '../../../assets/scss/common/mixins' as mixin;


.card {
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 15px;
  overflow: hidden;

  &_link {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 62.5%;
    overflow: hidden;
  }

  &_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    user-select: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }


}

.card:not(.card--shown) {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.promotion__card {
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 10px;
  overflow: hidden;

  &_skeleton {
    width: 100%;
    height: 0;
    padding-bottom: 62.5%; /* Соотношение сторон 16:9 */
    overflow: hidden;
    border-radius: 15px !important;

    > span {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.promotion__card:not(.promotion__card--shown) {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
