@use "../../../assets/scss/common/mixins" as mixin;

.mySwiper{
  padding: 5px 3px !important;
}

.category_swiper {
  margin-top: 20px;
  position: relative;
}

.swiper__slide_title {
  @include mixin.font(15px, 400, 150%, #424242);
  @media screen and (max-width: 360px) {
    @include mixin.font(14px, 400, 150%, #424242);
  }
}

.team__swiper_btn {
  z-index: 20;
  top: 42%;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  background: #fff;
  padding: 12.5px 14px 10px 15px;
  border-radius: 10px;
  border: none;

  &_left {
    left: 5px;
  }
  &_right {
    right: 5px;
  }
}

.team__swiper_buttons {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 99%;
  left: 0.5%;
  @media screen and (max-width: 640px) {
    display: none;
  }
}
