@use "../../../../assets/scss/common/mixins" as mixin;

.inputs {
  @include mixin.flex(center, null, null, 10px);
  margin-top: 15px;

  @media screen and (max-width: 640px) {
    margin-top: 10px;
    gap: 7px;
  }
}
