@use "../../assets/scss/common/mixins" as mixin;

.header__logo {
  @include mixin.flex(center, center);
}

.header {
  background: linear-gradient(
    88.03deg,
    var(--dark-blue) 1.19%,
    var(--violet) 97.58%
  );
  height: 72px;
  user-select: none;
  &__container {
    position: relative;
    height: 100%;
    @include mixin.flex(center, space-between, null, 30px);
    @media screen and (max-width: 992px) {
      justify-content: center;
    }
    &_form {
      @include mixin.flex();
      gap: 30px;
      max-width: 100%;
      width: 100%;
      @media screen and (max-width: 992px) {
        display: none !important;
      }
    }
  }

  &__nav {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  @media screen and (max-width: 640px) {
    height: 55px;
  }
  z-index: 2;
  position: relative;
}

.logo {
  @media screen and (max-width: 640px) {
    @include mixin.flex(center, center, row-reverse, null);
    max-width: 100%;
    width: 100%;
  }
}

.catalog {
  user-select: none;
  text-decoration: none;
  color: var(--black);
  background: var(--secondary);
  padding: 10px 10px;
  height: 100%;
  @include mixin.flex(center, center, null, 10px);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  gap: 5px;

  &_modal {
    max-height: 42px;
    height: 42px;
  }

  &:hover {
    background: var(--white);
  }

  @media screen and (max-width: 992px) {
    display: none;
    &_modal {
      display: none;
    }
  }
}

.search__history {
  position: relative;
  z-index: 100;
}

.search {
  cursor: pointer;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &__form {
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    display: none;
  }

  &__white {
    cursor: pointer;
    display: none;
    @media screen and (max-width: 992px) {
      scale: 0.9;
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      z-index: 999;
    }
    @media screen and (max-width: 640px) {
      scale: 0.7;
      width: 25px;
      height: auto;
    }
  }
  &__input {
    background: var(--white);
    opacity: 0.2;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--black);
    width: 100%;
    transition: 0.3s ease-in-out;

    ::placeholder {
      color: var(--black);
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
    &:hover {
      opacity: 1;
    }

    &:focus {
      opacity: 1;
    }
  }

  &__icon {
    cursor: pointer;
    display: flex;

    position: absolute;
    right: 10px;
    top: 27%;
  }
}

// hamburgeeeeeeeeeeeeeeeeeeeeeer

.search__input.empty {
  &::placeholder {
    color: red;
  }
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger_box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}
.hamburger_inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger_inner,
.hamburger_inner::before,
.hamburger_inner::after {
  width: 20px;
  height: 2px;
  background-color: var(--black);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger_inner::before,
.hamburger_inner::after {
  content: "";
  display: block;
}
.hamburger_inner::before {
  top: -5px;
}
.hamburger_inner::after {
  bottom: -5px;
}
.hamburger_inner.is_active {
  display: none;
}
/*
 * 3DY
 */
.hamburger_3dy .hamburger_box {
  perspective: 100px !important;
}
.hamburger_3dy .hamburger_inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger_3dy .hamburger_inner::before,
.hamburger_3dy .hamburger_inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger_3dy.is_active .hamburger_inner {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}
.hamburger_3dy.is_active .hamburger_inner::before {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger_3dy.is_active .hamburger_inner::after {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}
.modal_cont_wrap {
  @include mixin.flex(center, space-between, row);
  width: 100%;
  padding: 20px 30px;
}

.modal_cont_wrap {
  @include mixin.flex(center, space-between, row);
  width: 100%;
  padding: 20px 30px;
}

// мобилка
