@use "../../assets/scss/common/mixins" as mixin;

.header {
  background: linear-gradient(88.03deg, #112b66 1.19%, #991a4e 97.58%);
  height: 72.5px;
  &__container {
    height: 100%;
    @include mixin.flex(center, space-between, null, 30px);

    &_form {
      @include mixin.flex(center, center, null, 30px);
      max-width: 100%;
      width: 100%;
    }
  }

  &__nav {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  @media screen and (max-width: 640px) {
    height: 55px;
  }
  position: relative;
  z-index: 1000;
}

.catalog {
  user-select: none;
  text-decoration: none;
  color: var(--black);
  background: var(--white);
  padding: 10px 10px;
  height: 40px;
  @include mixin.flex(center, center, null, 10px);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  gap: 5px;

  &:hover {
    color: var(--dark-blue);
  }

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.search {
  cursor: pointer;
  position: relative;
  @include mixin.flex(center, center, null, 15px);
  width: 100%;
  height: 25px;

  @media screen and (max-width: 992px) {
    display: none;
  }

  &__white {
    cursor: pointer;
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
    @media screen and (max-width: 640px) {
      width: 25px;
      height: auto;
    }
  }
  &__input {
    background: var(--white);
    opacity: 0.2;
    height: 40px;
    padding: 0px 15px;
    font-family: var(--font-monsterrat);
    font-weight: 600;
    border-radius: 5px;
    color: var(--black);
    width: 100%;
    transition: 0.3s ease-in-out;

    ::placeholder {
      color: var(--black);
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
    &:hover {
      opacity: 1;
    }

    &:focus {
      opacity: 1;
    }
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: flex;
  }
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger_box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}
.hamburger_inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger_inner,
.hamburger_inner::before,
.hamburger_inner::after {
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger_inner::before,
.hamburger_inner::after {
  content: "";
  display: block;
}
.hamburger_inner::before {
  top: -5px;
}
.hamburger_inner::after {
  bottom: -5px;
}
.hamburger_inner.is_active {
  display: none;
}
/*
 * 3DY
 */
.hamburger_3dy .hamburger_box {
  perspective: 100px !important;
}
.hamburger_3dy .hamburger_inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger_3dy .hamburger_inner::before,
.hamburger_3dy .hamburger_inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger_3dy.is_active .hamburger_inner {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}
.hamburger_3dy.is_active .hamburger_inner::before {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger_3dy.is_active .hamburger_inner::after {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}
.modal_cont_wrap {
  @include mixin.flex(center, space-between, row);
  width: 100%;
  padding: 20px 30px;
}

.modal_cont_wrap {
  @include mixin.flex(center, space-between, row);
  width: 100%;
  padding: 20px 30px;
}
