@use "../../../assets/scss/common/mixins" as mixin;

.priceCard_wrap {
  @include mixin.flex(flex-start, flex-start, column, 15px);
  max-width: 344px;

  @media screen and (max-width: 1410px) {
    @include mixin.flex(flex-start, flex-start, row, 10px);
    width: 100%;
  }
  @media screen and (max-width: 1270px) {
    @include mixin.flex(center, space-around, column, null);
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.banner {
  @media screen and (max-width: 1310px) {
    display: none;
  }
}
