@use "../../../../assets/scss/common/mixins" as mixin;
.modal {
  position: relative;
  @include mixin.flex(null, center, null, null);
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  background: var(--white);
  @include mixin.flex(center, null, column, null);
  position: fixed;
  top: 0;
  left: 0;
  // background: var(--white);
  z-index: 200;
  width: 100%;
  height: 100%;
  padding: 25px 10px 0 15px;
  border-radius: 5px;

  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    transition: 0.5s;
    background: #b1b1b1;
    border-radius: 6px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  &_nav {
    margin-bottom: 5px;
    width: 100%;
    @include mixin.flex(center, space-between, null, null);
    &_title {
      user-select: none;
      @include mixin.font(1.125rem, 500, null, var(--dark));
      align-self: flex-start;
    }
    &_cross {
      cursor: pointer;
      color: var(--secondary-gray);
      &:hover {
        color: var(--dark);
      }
    }
    @media screen and (max-width: 725px) {
      margin-bottom: 15px;
    }
  }
}

.ul {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 5px 15px;

  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.photo {
  border-radius: 15px;
  padding: 5px;
  max-width: 700px;
  width: 500px !important;
  height: 75vh;
  user-select: none;
  border: 2px solid var(--light-white);

  @media screen and (max-width: 725px) {
    height: auto;
  }
}

.swipe_down {
  position: absolute;
  right: 0;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  bottom: 3%;
  transition: all 0.3s ease;
  max-width: 430px;
  min-width: 430px;

  @media screen and (max-width: 768px) {
    max-width: 370px;
    min-width: none;
    width: 100%;
    font-size: 14px;
    left: 0;
    transform: translate(0, 0);
  }
  @media screen and (max-width: 480px) {
  }
  padding: 5px 8px;
  border-radius: 8px;
  display: flex;
  align-content: center;
  gap: 8px;

  background: var(--light-white);
}
