@use "../../../assets/scss/common/mixins" as mixin;
.showMoreBtn {
  max-width: 200px;
  align-self: center;
}
.cardContainer {
  user-select: none;
  @include mixin.flex(null, null, column, null);
}
.cardItemContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: flex-start;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cardItem {
  cursor: pointer;
  border-radius: 5px;
  max-width: 230px;
  height: 390px;
  margin-bottom: 40px;
  padding: 0px 10px 0px 0px;
  transition: 0.3s all;
  @include mixin.flex(null, null, column, null);
  &:hover {
    box-shadow: 0px 0px 6px 3px rgba(34, 60, 80, 0.2);
    .cardItemBtns {
      display: block;
    }
    .cardItemName{
      color: #424242;
    }
  }
  @media screen and (max-width: 480px){
    max-width: 180px;
  }
}
.cardItemImg {
  border-radius: 5px 5px 0px 0px;
  @media screen and (max-width: 480px) {
    max-width: 130px;
    height: 130px;
  }
}
.cardItemPrice {
  padding-left: 10px;
  align-self: flex-start;
  @include mixin.font(16px, 700, 24px, #424242);
}
.cardItemName {
  @include mixin.font(14px, 400, 16.8px, #62656a);
  max-width: 200px;
  max-height: 35px;
  padding-left: 10px;
  overflow: hidden;
}
.cardItemDelivery {
  padding-left: 10px;
  margin-top: 3px;
  @include mixin.flex(center, null, null, 3px);
  max-width: 240px;
}
.cardItemDeliveryTitle {
  margin-top: 10px;
  @include mixin.font(14px, 400, 14.4px, #0c54a1);
  max-width: 170px;
}
.cardItemBtns {
  margin-top: 10px;
  padding-left: 10px;
  display: none;
  @media screen and (max-width: 1200px) {
    display: block;
  }
}
.cardItemBtnsContainer {
  @include mixin.flex(center, null, null, 10px);
  @media screen and (max-width: 480px){
    @include mixin.flex(center, null, null, 5px);

  }
}
.cardItemBtnsAddBucket {
  @include mixin.button(
    10px 45px,
    null,
    null,
    5px,
    linear-gradient(88.03deg, #112b66 60.19%, #341052 97.58%),
    null,
    null,
    #fff
  );
  text-wrap: nowrap;
  text-align: center;
  &:hover {
    background: linear-gradient(88.03deg, #112b66 1.19%, #991a4e 97.58%);
  }
  @media screen and (max-width: 480px){
    @include mixin.button(
      8px 8px,
      null,
      null,
      5px,
      linear-gradient(88.03deg, #112b66 60.19%, #341052 97.58%),
      null,
      null,
      #fff
    );
  }
}
.hearthIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 7px;
  background: rgba(246, 246, 246, 1);
  &:hover {
    outline: 2px solid #991a4e;
  }
}
