@use "../common/mixins" as mixin; // Importing mixins from a common SCSS file
.card{
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    background: var(--white);

    &:hover{
        box-shadow: 0px 0px 6px 3px rgba(22, 24, 26, 0.2);

        .card__info_title{
            opacity: 1;
        }
        .card__info_button{
            opacity: 1;
        }
    }

    &__images{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220.83px;
        @media screen and (max-width: 480px) {
            height: 200px;
        }
        @media screen and (max-width: 360px) {
            height: 170px;
        }
        @media screen and (max-width: 320px) {
            height: 150px;
        }
    }

    &__image{
        max-height: 220.83px;
        overflow: hidden;
        width: 222.5px;
        object-fit: cover;
        height: auto;
        // border-radius: 5px 5px 0px 0px; //! Только вверхние части скругленные
        border-radius: 5px; //! все углы скругленные
        @media screen and (max-width: 480px) {
           width: 100%;
           height: 100%;
        }
        @media screen and (max-width: 320px) {
            max-height: 150px;
        }
    }

    &__info{
        @include mixin.flex(flex-start,space-between,column, 2px);
        padding: 6px;
        height: 170px;
        @media screen and (max-width: 1280px) {
            height: 160px;
        }

        @media screen and (max-width: 380px) {
            height: 180px;
        }

        &_price{
            @include mixin.flex(center,null,null, 10px);
            height: 20px;
        }

        &_ddos{
            @include mixin.flex(center,center,null,3px);
            height: 34.1px;
            overflow: hidden;
            &_desc{
                @include mixin.font(14px,400,1.1,var(--light-blue));
                 @media screen and (max-width: 380px) {
                font-size: 13px;
            }
            }
            @media screen and (max-width: 380px) {
                height: 40px;
                font-size: 12px;
            }
        }

        &_title{
            @include mixin.font(14px,400,1.1,var(--gray-dark));
            opacity: 0.8;
            padding: 2px 0 0 0;
            height: 34.1px;
            overflow: hidden;

            @media screen and (max-width: 480px) {
                height: 32px;
                font-size: 14px;
            }
        }

        &_skidkaprice{
            @include mixin.flex(center,null,null,2px);

            &_price{
                @include mixin.font(18px,bold,null,var(--violet));
                &_custom{
                    @include mixin.font(16px,bold,null,var(--violet));
                    text-decoration: 2px underline var(--violet);
                    padding-bottom: 3px;
                    
                    @media screen and (max-width: 480px) {
                        font-size: 14px;
                        font-weight: 600;
                    }

                }

                @media screen and (max-width: 480px) {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        &_addFavorites{
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0.8;
            &:hover {
              opacity: 1;
            }
        }

        &_addedFavorites{
            opacity: 1 !important;
            svg{
                fill: var(--red);
                stroke: var(--red);
                &:hover{
                    stroke: var(--gray-dark);
                }
            }
        }

        &_skidkapercent{
            position: absolute;
            bottom: 9px;
            left: 5px;
            background: var(--violet);
            @include mixin.font(12px,bold,1,var(--white));
            padding: 3px 5px;
            border-radius: 3px
        }

        &_oldprice{
            @include mixin.flex(center,null,null,2px);
                text-decoration: line-through;

            &_price{
                @include mixin.font(14px,bold,null,var(--dark));
                &_custom{
                    @include mixin.font(12px,bold,null,var(--dark));
                    text-decoration: 2px underline var(--dark);
                    padding-bottom: 3px;
                    
                    @media screen and (max-width: 480px) {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                @media screen and (max-width: 480px) {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }

        &_currentprice{
            @include mixin.flex(center,null,null,2px);

            &_price{
                @include mixin.font(18px,bold,null,var(--dark));
                &_custom{
                    text-decoration: 2px underline var(--dark);
                    @include mixin.font(16px,bold,null,var(--dark));
                    padding-bottom: 3px;
                    @media screen and (max-width: 480px) {
                    font-size: 14px;
                }
                }

                @media screen and (max-width: 480px) {
                    font-size: 16px;
                }
            }
        }

        &_rating{
            @include mixin.flex(center,null,null,2px);
            &_span{
                height: 17px;
            }
        }

        &_button{
            width: 100%;
            opacity: 0;
        }

        &_addproduct{
            cursor: pointer;
            @include mixin.flex(center,center,null,10px);
            background: var(--dark-blue);
            color: var(--white);
            font-weight: 500;
            width: 100%;
            padding: 7px 5px;
            border-radius: 5px;
            transition: all 0.2s ease-in;

            &_icon{
                @include mixin.flex(center);
                padding-bottom: 3px;

                @media screen and (max-width: 480px) {
                    display: none;
                }
            }

            &:hover{
                background: var(--violet);
            }
        }
    }
}