@use "./mixins" as mixin;
.filtresContainer {
  @include mixin.flex(center, flex-start, null, 10px);
}
.positionContainer {
  position: relative;
}
.catalogFilterButton {
  outline: 2px solid var(--white);
  @include mixin.flex(center, center, null, 2px);
  @include mixin.font(0.875rem, 400, null, var(--dark));
  font-family: var(--font-inter);
  text-align: center;
  padding: 8px 12px;
  text-wrap: nowrap;
  background: var(--white);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    > .filterNavItemArrowIsActive {
      color: #242424;
    }
  }
}
.showCatalogFilterActive {
  user-select: none;
  @include mixin.flex(null, null, column, null);
  width: 266px;
  max-height: 360px;
  padding: 20px;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  cursor: default;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 20px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
  }
}
.catalogFilterCheck {
  @include mixin.flex(center, center, null, null);
  width: 22px;
  height: 22px;
  background: var(--white);
  border: 1px solid #d3d4dd;
  border-radius: 6px;
}
.catalogFilterCheckActive {
  color: white;
  background: var(--dark-blue);
  border: 0;
}
.showCatalogFilterActiveChild {
  /* Стили для скроллбара вебкит-браузеров */
  /* Track */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    transition: 0.5s;
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @include mixin.flex(flex-start, flex-start, column, 12px);
  overflow-y: auto;
  width: 100%;
  max-height: 228px;
  padding-right: 6px;
}
.closeFilterUl {
  @include mixin.flex(center, center, null, null);
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  scale: 1.5;
  color: var(--dark-blue);
}
.filterNavItemArrowIsActive {
  @include mixin.flex(center, center, null, null);
  user-select: none;
  transform: rotate(0deg);
  //   transition: 0.1s all;
  transition: transform 0.3s ease, border-color 0.3s ease;
  color: #b9b9c1;
}
.filterNavItemArrow {
  transform: rotate(180deg);
}
.showFiltersUlContainer {
  user-select: none;
  @include mixin.flex(center, null, null, 10px);
  @include mixin.font(0.875rem, 400, null, var(--dark));
  cursor: pointer;
  width: 100%;
  &:hover {
    > .showFiltersUlContainer__check {
      border-color: #a9a8b0;
    }
  }
  &__check {
    @include mixin.flex(center, center, null, null);
    width: 22px;
    height: 22px;
    background: var(--white);
    border: 1px solid #d3d4dd;
    border-radius: 6px;
  }
  &__checkActive {
    color: white;
    background: var(--dark-blue);
    border-color: var(--dark-blue);
    border: 0;
  }
  &__title {
    font-size: 16px;
    line-height: 22px;
    color: #242424;
  }
}
.containerButtons {
  position: sticky;
  bottom: 0;
  padding: 5px 0 0 0;
  background: var(--white);
  width: 100%;
  @include mixin.flex(center, space-between, null, null);
}

.showAllButton {
  border-bottom: 1px dashed;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: #242424;
  border-color: #868695;
}
.resetButton {
  @include mixin.font(16px, 400, 22px, #242424);
  margin-left: auto;
  border-bottom: 1px dashed;
  cursor: pointer;
  border-color: #868695;
  &__active {
    color: var(--violet);
    border-color: var(--violet);
  }
}
.nameAndKol {
  @include mixin.flex(center, null, null, 5px);
  @include mixin.font(0.875rem, 400, null, null);
}
.quantity {
  @include mixin.font(0.875rem, 400, null, null);
}
.filterCount {
  @include mixin.flex(center, center, null, null);
  @include mixin.font(0.625rem, 700, 18px, var(--white));
  flex-wrap: nowrap;
  text-align: center;
  background: var(--violet);
  width: 18px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -6px;
}
.applyBtn {
  border-bottom: 1px dashed;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: #242424;
  border-color: #868695;
  &__active {
    color: var(--violet);
    border-color: var(--violet);
  }
}

.containerButtons {
  position: sticky;
  bottom: 0;
  padding: 5px 0 0 0;
  background: var(--white);
  width: 100%;
  @include mixin.flex(center, space-between, null, null);
}
.everyFilterContainer {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}
.catalogFilterContainerButtonEvery {
  cursor: pointer;
  width: 100%;
  @include mixin.flex(center, space-between, null, null);
  padding: 12px;
  overflow: hidden;
  position: relative;
  &:hover {
    > .filterNavItemArrowIsActive {
      color: #242424;
    }
  }
}
.filterColumn {
  background-color: #f5f7fa;
  border-radius: 5px;
  padding: 12px;
  max-height: 100%;
  margin-bottom: 60px;
}
.catalogFilterButtonEvery {
  cursor: pointer;
  @include mixin.flex(center, null, null, null);
  @include mixin.font(0.875rem, 400, null, var(--dark));
  font-family: var(--font-inter);
}
.additionalFilterActiveDropdown {
  @include mixin.flex(center, null, column, 12px);
  padding: 10px 0 24px;
}

.filterBackdrop {
  z-index: 199;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--dark);
  opacity: 0.5;
}

.highlighted {
  outline: 2px solid var(--dark);
}

.sortBoxShadow {
  padding: 8px 12px;
  border-radius: 5px;
  outline: 2px solid var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.catalogFilterSelected {
  @include mixin.flex(center, center, null, null);
  @include mixin.font(12px, 400, null, var(--white));
  background: var(--violet);
  border-radius: 50%;
  padding: 0px 7px;
}
