@use "../common/mixins" as mixin;

* {
  @include reset-all-styles;
  -webkit-tap-highlight-color: var(--tap-select);
  font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
}

table {
  height: 150px !important;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.notallowed{
  cursor: not-allowed !important;
}

td {
  border: 1px solid var(--light-gray);
}

::selection {
  color: var(--white);
  background-color: var(--bg-darkblue); /* Цвет фона при выделении */
}

body {
  overflow: auto;
}

.container {
  @include container(90rem);
  padding: 0 15px;
  @media screen and (max-width: 1440px) {
    @include container(1200px);
  }
  @media screen and (max-width: 40rem) {
    padding: 0 8px;
  }
}

//! Названия категорий которые указываем в секциях
.sections__title {
  @include mixin.font(20px, 600, 120%, var(--gray-dark));
  text-transform: uppercase;
  margin-bottom: 25px;
  user-select: none;
}

//! отступ всех секций(блоков контента)
.news,
.promotion,
.season,
.popular__category,
.brands,
.discounts,
.intro__banner,
.boughts,
.goods,
.seek__not_founded,
.secondBanner,
.thirdBanner,
.productPageDesc,
.characteristics,
.productReview,
.forClientContainer,
.productPageVideo,
.similarProducts,
.brand__byName,
.youWatched {
  margin-top: 30px;

  @media screen and (max-width: 640px) {
    margin-top: 10px;
  }
}

.secondBanner,
.thirdBanner {
  @media screen and (max-width: 768px) {
    display: none;
  }
}


//! Стиль тайтла страниц когда нажимаешь показать все
.default__showMore_title {
  @include mixin.font(18px, 500, 120%, var(--dark));
  margin-top: 20px;
  @media screen and (max-width: 480px) {
    margin-top: 10px;
  }
}

//! Стиль тайтла карточки новости на странице новости
.allNews__content_title {
  @include mixin.font(18px, 600, 120%, var(--dark));
  @include mixin.flex(flex-start, flex-start);
  width: 100%;
  cursor: pointer;
  &:hover {
    color: var(--violet);
  }
}
//! стили страницы поиска
.sort__buttons {
  position: relative;
  margin: 5px 0;
  border-radius: 5px;
  @include mixin.flex(center, space-between, null, 10px);

  &_title {
    background: var(--dark-blue);
    color: var(--white);
    padding: 10px 14px;
    border-radius: 5px;
    @include mixin.font(16px, 600, 150%, var(--white));
  }
  &_button {
    @include mixin.font(16px, 600, 150%, var(--dark-blue));
    cursor: pointer;
    background: var(--light-white);
    padding: 7px 14px;
    border-radius: 5px;
    transition: 0.2s ease-in;
    text-decoration: none;
    white-space: nowrap; /* Запрет переноса строк для ссылок */

    &:hover {
      color: var(--white);
      background: var(--dark-blue);
    }

    &_active {
      background: var(--dark-blue);
      color: var(--white);
    }
  }
}

.seek__catalog {
  &_title {
    margin-top: 15px;
    @include mixin.font(18px, 500, 100%, var(--gray-dark));
  }

  &_card {
    @include mixin.flex(center, center, column);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    min-width: 200px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
    height: 150px;
    width: 100%;
    &:hover {
      .seek__catalog_card_title {
        color: var(--violet);
      }
    }
    &_image {
      border-radius: 5px;
    }
    &_title {
      @include mixin.font(16px, 400, 100%, var(--gray-dark));
      text-align: center;
      margin-top: 10px;
    }
  }
  &_cards {
    margin-top: 10px;
    user-select: none;

    @include mixin.flex(center, null, null, 20px);

    overflow-x: auto;
    padding-bottom: 20px;
    padding: 5px 5px 15px 5px;
    &::-webkit-scrollbar {
      height: 7px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background: var(--white); /* Цвет фона скроллбара */
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background: var(--dark-blue);
      border-radius: 5px;
    }
  }
}

.custom-select {
  position: relative;
  max-width: 100%; /* Ширина выпадающего списка */
}

.select-header {
  @include mixin.flex(center);
  text-align: center;
  border-radius: 5px;
  cursor: pointer; /* Изменение курсора при наведении */

  &_sort {
    color: var(--black);
  }

  &_sorted {
    @include mixin.flex(center, null, null, 10px);
    border-radius: 5px;
    color: var(--dark-blue);
    padding: 8px 12px;

    p {
      color: var(--dark-blue);
      transform: rotate(90deg);
    }

    &:hover {
      color: var(--violet);
      p {
        color: var(--violet);
      }
    }
  }
}

.seek__catalog_title {
  @include mixin.font(18px, 500, 100%, var(--gray-dark));
  margin: 15px 0;
}

/* CustomSelect.css */
.open p {
  color: var(--violet);
  transform: rotate(270deg);
}

.open .select-header_sorted {
  color: var(--violet);
}

.options {
  position: absolute;
  overflow: hidden;
  top: calc(100% + 5px); /* Расстояние от заголовка до опций */
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff; /* Цвет фона опций */
  border: 1px solid #ccc; /* Граница */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
  border: 2px solid var(--secondary);
}

.option {
  @include mixin.font(18px, 500, null, var(--black));
  @include mixin.flex(center, null, null, 8px);
  cursor: pointer;
  padding: 10px 5px;
  text-wrap: nowrap;

  &__cyrcle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
  }
}

.option:hover {
  background-color: var(--gray-white);
  color: var(--black);
}

.selected {
  color: var(--black);
  .option__cyrcle {
    background: var(--white);
    width: 7px;
    height: 7px;
    padding: 3px;
    border: 6px solid var(--dark-blue);
  }
}

/* Для скроллбара */
.sort__buttons::-webkit-scrollbar {
  height: 7px;
  cursor: pointer;
}

.sort__buttons::-webkit-scrollbar-track {
  background: var(--white); /* Цвет фона скроллбара */
}

.sort__buttons::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--dark-blue);
  border-radius: 5px;
}

.slideWithPadding {
  padding-bottom: 40px;
}

.finished {
  text-align: center;
  font-size: 24px;
}



.toptwenty {
  margin-top: 20px;
  @media screen and (max-width: 480px) {
    margin-top: 0;
  }
}

.topten {
  user-select: none;
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (max-width: 480px) {
    margin-top: 0;
  }
}

.testoviy {
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  object-fit: cover;
  height: auto;
}



.biggg {
  font-size: 70px;
  word-wrap: break-word;
  max-width: 1440px;
}

// Стили лупы на карточке товара
.iiz__btn {
  border-radius: 100px !important;
}

.wrapInfoItem {
  max-width: 100%;
  width: 100%;
}


//! Страница новостей и скидок
//Стили для карточек
.info__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

    @media screen and (max-width: 992px) {
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
