@use "../common/mixins" as mixin;

* {
  @include reset-all-styles;
}

.container {
  @include container(1440px);
  padding: 0 15px;

  @media screen and (max-width: 640px) {
    padding: 0 7px;
  }
}

.showMore,
.hideMore {
  @media screen and (max-width: 640px) {
    display: none;
  }
}

.news__buttons_showMore {
  margin-top: 20px;
  user-select: none;
  @include mixin.flex(center, center);
  @include mixin.button(
    10px 25px,
    null,
    2px solid var(--dark-blue),
    10px,
    var(--white),
    18px,
    600,
    var(--dark-blue)
  );
  transition: 0.2s ease-out;
  &:hover {
    background: var(--dark-blue);
    color: var(--white);
  }
}

.showAll_button {
  display: none;

  @media screen and (max-width: 640px) {
    display: block;
  }
}

.sections__title {
  @include mixin.font(20px, 600, 120%, #424242);
  text-transform: uppercase;

  margin-bottom: 25px;
  user-select: none;
}

//! If you don't know how to use it - it's not my guilt

.news,
.promotion,
.season,
.popular__category,
.application,
.brands,
.discounts,
.intro__banner {
  margin-top: 30px;
}

.news__buttons {
  @include mixin.flex(center, center);
}

#portal {
  position: relative;
  z-index: 999;
}
