.mascot_sprite {
  background: url("/img/mascot_sprites.png");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;

  width: 180px;
  height: 200px;

  &_not_found {
    background-position-x: 980px;
  }
  &_favorite {
    background-position-x: -210px;
  }
  &_empty_cart {
    background-position-x: 0;
    width: 200px;
    @media screen and (max-width: 650px) {
      scale: 0.8;
    }
  }

  &_rahmat {
    background-position-x: 340px;
  }
}
