.emptyImage {
	background: url('../../../../public/img/blurImage.png') no-repeat 0 0;
	width: 251px;
	height: 251px;
}
.favicon {
	background: url('../../../../public/img/favicon.ico') no-repeat 0 0;
	width: 28px;
	height: 28px;
}
.undefinedPage {
	background: url('../../../../public/img/undefinedPage.png') no-repeat -1px 0;
	width: 172px;
	height: 175px;
}
.logo{
    background: url('../../../../public/img/logo.svg') no-repeat 0 0;
}
.logoApp{
    background: url('../../../../public/img/logoApp.svg') no-repeat 0 0;
}
.footerArrow{
    background: url('../../../../public/img/footerArrow.svg') no-repeat 0 0;
}