@use '../common/mixins' as mixin;


.swiper__slide {
  cursor: pointer;
  height: 180px !important;
  overflow: hidden;
  text-align: center;
  max-width: 210px !important;
  border-radius: 5px;
  margin-top: 5px !important;
  font-size: 18px;
  background: var(--bg-white);
  display: flex !important;
  @include mixin.flex(center, center, column, 10px);
  @media screen and (max-width: 992px) {
    max-height: 160px;
    height: auto !important;
    padding-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    min-height: 130px;
    padding-top: 0;
  }
  &_img {
    user-select: none;
    @media screen and (max-width: 640px) {
      width: 63px;
      height: auto;
    }
  }

  &:hover {
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);

    .category__item_title {
      color: var(--violet);
    }
  }
}

.category__item_title {
  @include mixin.font(14px, 400, 150%, var(--gray-dark));
  text-align: center;
  max-width: 210px !important;
  transition: 0.1s ease-in-out;
  user-select: none;
  padding: 0 10px;
  @media screen and (max-width: 480px) {
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
    max-height: 45px;
    overflow: hidden;
  }
}