@use '../../../assets/scss/common/mixins' as mixin;

.application {
  background: var(--gray-white);
  margin-top: 20px;

  &__container {
    max-height: 300px;
    @include mixin.flex(center,space-around);
    overflow: hidden;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__img {
    @include mixin.flex(center,center);
    width: auto;
    height: auto;
    user-select: none;

    @media screen and (max-width: 480px) {
      width: 160px;
    }
    @media screen and (max-width: 360px) {
      width: 120px;
    }
  }

  &__phone_img {
    width: 100%;
    height: auto;
    user-select: none;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    @include mixin.flex(center,null,column,50px);
    &_title {
      @include mixin.font(24px,700,150%,var(--dark));
      @media screen and (max-width: 640px) {
        font-size: 20px;
      }
      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }

    &_link {
     @include mixin.flex(center,center,null,30px);
    }
  }

  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
}
