@use "../../../assets/scss/common/mixins" as mixin;
.reCaptcha {
  margin-right: 10px;
  user-select: none;
  @include mixin.flex(flex-start, null, null, null);
  max-width: 450px;
  width: 100%;
  margin-top: 10px;
  position: relative;
  padding-bottom: 20px;
  &_warning {
    left: 0;
    bottom: 0;
    position: absolute;
    @include mixin.font(0.875rem, 700, null, var(--danger));
  }
  @media screen and (max-width: 576px) {
    margin: 0;
  }
}
