@use "../../../../assets/scss/common/mixins" as mixin;
.category_swiper {
  position: relative;

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 214.167px;
    height: 180px;

    @media screen and (max-width: 640px) {
      width: 100%;
      height: 100%;
    }
  }
}
.swiper__slide_img {
  border-radius: 5px;
  user-select: none;
  width: auto;
  height: auto;

  @media screen and (max-width: 480px) {
    width: 65px;
    height: 65px;
  }
}

.mySwiper {
  padding: 3px 5px;
}

.team__swiper_btn {
  z-index: 20;
  cursor: pointer;
  top: 38%;
  position: absolute;
  box-shadow: 0px 0px 6px 3px rgba(22, 24, 26, 0.2);
  background: var(--white);
  padding: 12.5px 14px 10px 15px;
  border-radius: 10px;
  border: none;

  &_left {
    left: 5px;
  }
  &_right {
    right: 5px;
  }
  @media screen and (max-width: 768px) {
    top: 30%;
  }
}
