@use "../../../../assets/scss/common/mixins" as mixin;

.mySwiper {
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;

  @media screen and (max-width: 640px) {
    padding-bottom: 30px;
  }
}

.swiper__slide {
  cursor: pointer;
  min-height: 170px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 18px;
  background: var(--white);
  height: calc((100% - 30px) / 2) !important;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 992px) {
    min-height: 190px;
  }
  @media screen and (max-width: 768px) {
    min-height: 180px;
  }

  @media screen and (max-width: 480px) {
    min-height: 160px;
  }

  &_img {
    border-radius: 5px;
    user-select: none;

    @media screen and (max-width: 480px) {
      width: 65px;
      height: 65px;
    }
  }
  &_title {
    @include mixin.font(1rem, 400, 150%, #424242);
    text-align: center;
    transition: 0.1s ease-in-out;
    user-select: none;
    padding: 0 10px;
    @media screen and (max-width: 480px) {
      font-size: 15px;
      color: var(--black);
      max-width: 120px;
      overflow-wrap: break-word;
      max-height: 45px;
      overflow: hidden;
    }
  }
  &:hover {
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);

    .swiper__slide_title {
      color: var(--violet);
    }
  }
}

.team__swiper_btn {
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  background: #fff;
  padding: 12.5px 14px 10px 15px;
  border-radius: 10px;
  border: none;
}

.team__swiper_buttons {
  position: absolute;
  z-index: 10;
  top: 43%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 99.5%;
  left: 0.2%;

  @media screen and (max-width: 640px) {
    display: none;
  }
}
