@use "../../../assets/scss/common/mixins" as mixin;

.container {
  position: relative;
  @include mixin.flex(null, flex-end, null, null);
  margin: 0 auto;
  top: 0;
  right: 0;
}
.backdrop {
  display: none;
  z-index: 199;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--dark);
  opacity: 0.3;
}
.activeBackdrop {
  display: block;
}
.wrapper {
  overflow: hidden;
  @include mixin.flex(flex-start, null, column, null);
  position: fixed;
  background: var(--white);
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%); // начальное положение за пределами экрана
  transition: transform 0.4s ease; // анимация с плавным переходом в течение 0.9 секунд
  max-width: 968px;
  &__container {
    padding: 15px 30px 15px;
    position: sticky;
    top: 0;
    background: var(--white);
    width: 100%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    @include mixin.flex(center, space-between, null, 20px);
    margin-bottom: 16px;
    &__header {
      @include mixin.flex(center, center, null, 10px);
      &__btn {
        scale: 2;
        cursor: pointer;
      }
      &__button {
        text-align: center;
        cursor: pointer;
        @include mixin.font(18px, 600, null, var(--black));
        border-radius: 5px;
        transition: 0.3s all;
        &:hover {
          color: var(--blue);
        }
      }
    }
  }
  &__containerFooter {
    width: 100%;
    padding: 15px 30px 15px;
    position: sticky;
    bottom: 0;
    background: var(--white);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    @include mixin.flex(center, space-between, null, null);
    &__h2 {
      @include mixin.font(18px, 500, null, var(--dark));
    }
    &__btn {
      @include mixin.flex(center, center, null, null);
      background: var(--dark-blue);
      cursor: pointer;
      color: var(--white);
      padding: 10px 20px;
      border-radius: 5px;
      transition: 0.3s all ease;
      &:hover {
        background: var(--violet);
      }
    }
  }
}
.activeH2 {
  color: var(--blue);
  // color: #1bc592;
}

.visible {
  transform: translateX(0); // конечное положение, когда элемент видимый
}
.aboutProductContainer {
  top: 0;
  @include mixin.flex(null, null, column, 10px);
  padding: 0 30px 30px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.aboutProduct {
  font-size: 16px;
  color: var(--black);
  &__h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark);
    margin-bottom: 10px;
  }
  &__video {
    max-width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .aboutProduct {
    line-height: 1.4;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 100%;
  }
  .wrapper__containerFooter {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper__container {
    padding: 10px 20px;
  }
  .wrapper__containerFooter {
    padding: 10px 20px 10px;
  }
  .aboutProductContainer {
    padding: 0 20px 20px;
  }
  .characteristics {
    display: none;
  }
  .aboutProduct__video iframe {
    width: 100%;
    height: auto;
  }
}
