@use "../../../assets/scss/common/mixins" as mixin;

.container {
  position: relative;
  @include mixin.flex(null, flex-end, null, null);
  margin: 0 auto;
  top: 0;
  right: 0;
}
.backdrop {
  display: none;
  z-index: 199;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--dark);
  opacity: 0.3;
}
.activeBackdrop {
  display: block;
}
.wrapper {
  overflow: hidden;
  @include mixin.flex(flex-start, null, column, null);
  position: fixed;
  background: var(--white);
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%); // начальное положение за пределами экрана
  transition: transform 0.4s ease; // анимация с плавным переходом в течение 0.9 секунд
  max-width: 968px;
  z-index: 1001;
  &__container {
    padding: 15px 30px 15px;
    position: sticky;
    top: 0;
    background: var(--white);
    width: 100%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    @include mixin.flex(center, space-between, null, 20px);
    margin-bottom: 16px;
    &__header {
      @include mixin.flex(center, center, null, 10px);
      &__btn {
        @include mixin.flex(center, center, null, null);
        @include mixin.font(null, null, null, #101709);
        scale: 2;
        transition: 0.2s all;
        opacity: 0.6;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      &__button {
        text-align: center;
        cursor: pointer;
        @include mixin.font(18px, 600, null, #101709);
        border-radius: 5px;
        transition: 0.2s all;
        opacity: 0.7;
        &:hover {
          color: var(--violet);
          opacity: 1;
        }
      }
    }
  }
  &__containerFooter {
    width: 100%;
    padding: 15px 30px 15px;
    position: sticky;
    bottom: 0;
    background: var(--white);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    @include mixin.flex(center, space-between, null, null);
    &__h2 {
      @include mixin.font(18px, 500, null, var(--dark));
    }
    &__btn {
      @include mixin.flex(center, center, null, 5px);
      background: var(--dark-blue);
      cursor: pointer;
      color: var(--white);
      padding: 10px 20px;
      border-radius: 5px;
      transition: 0.3s all ease;
      &:hover {
        background: var(--violet);
      }
    }
  }
}
.activeH2 {
  color: var(--violet);
  opacity: 1;
}
.ItemPriceCard {
  user-select: none;
  max-width: 344px;
  width: 100%;
  background: var(--light-white);
  border-radius: 10px;
  padding: 18px;
  &__counted{
    max-width: 150px;
  }
  &__minQty {
    @include mixin.font(14px, 400, 100%, var(--dark));
    margin-top: 10px;
  }
  &__cost {
    @include mixin.flex(flex-end, null, null, 10px);
  }
  &__price {
    @include mixin.flex(center, null, null, 3px);
    @include mixin.font(18px, bold, 100%, var(--dark));

    &_custom {
      @include mixin.font(18px, bold, 100%, var(--dark));
      border-bottom: 3px solid var(--dark);
    }
    &_discount {
      @include mixin.font(14px, 500, 100%, var(--dark));
      background: var(--violet);
      color: var(--white);
      border-radius: 5px;
      padding: 3px;
    }
    &_new {
      @include mixin.flex(center, null, null, 3px);
      @include mixin.font(18px, bold, 100%, var(--violet));
      &_custom {
        @include mixin.font(18px, bold, 100%, var(--violet));
        border-bottom: 3px solid var(--violet);
      }
    }
  }
  &__old_price {
    @include mixin.font(14px, 500, 100%, var(--gray-dark));
    text-decoration: line-through;
  }
}

.visible {
  transform: translateX(0); // конечное положение, когда элемент видимый
}
.aboutProductContainer {
  text-align: justify;
  top: 0;
  @include mixin.flex(null, null, column, 10px);
  padding: 0 30px 30px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.aboutProduct {
  font-size: 16px;
  color: var(--black);
  &__h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark);
    margin-bottom: 10px;
  }
  p {
    h2 {
      margin-top: 30px;
    }
  }
  &__video {
    max-width: 100%;
    min-height: 100%;
    height: 100%;
  }
}
.buttonsContainer {
  @include mixin.flex(center, flex-end, null, 10px);
  max-width: 300px;
  width: 100%;
}
.ItemPriceCard__buttons {
  @include mixin.flex(center, space-between, null, 15px);
  margin-top: 15px;
  &_cart {
    @include mixin.flex(center, center, null, 10px);
    background: var(--dark-blue);
    padding: 8px;
    max-width: 150px;
    font-weight: bold;
    width: 100%;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease-in;
    &:hover {
      background: #203e79;
    }
  }
  &_buy {
    max-width: 150px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    background: var(--violet);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #811f48;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
@media screen and (min-width: 1400px) {
  .aboutProduct {
    line-height: 1.4;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper__container {
    padding: 10px 20px;
  }
  .wrapper__containerFooter {
    padding: 10px 20px 10px;
  }
  .aboutProductContainer {
    padding: 0 20px 20px;
  }
  .characteristics {
    display: none;
  }
  .aboutProduct__video iframe {
    width: 100%;
    height: auto;
  }
}
