@use "../../../assets/scss/common/mixins" as mixin;

.container {
  position: relative;
  @include mixin.flex(null, flex-end, null, null);
  margin: 0 auto;
  top: 0;
  right: 0;
  &__backdrop {
    display: none;
    z-index: 199;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--dark);
    opacity: 0.5;
  }
}
.activeBackdrop {
  display: block;
}
.wrapper {
  @include mixin.flex(flex-start, null, column, null);
  position: fixed;
  background: var(--white);
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%); // начальное положение за пределами экрана
  transition: transform 0.4s ease; // анимация с плавным переходом в течение 0.9 секунд
  overflow-y: auto;
  max-width: 900px;
  &__container {
    padding: 12px 24px 12px;
    position: sticky;
    top: 0;
    background: var(--white);
    width: 100%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    @include mixin.flex(center, space-between, null, null);
    margin-bottom: 16px;
    &__btn {
      scale: 2;
      cursor: pointer;
    }
    &__h2 {
      @include mixin.font(22px, 500, null, var(--dark));
    }
  }
  &__containerFooter {
    padding: 12px 24px 12px;
    position: sticky;
    bottom: 0;
    background: var(--white);
    width: 100%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    @include mixin.flex(center, space-between, null, null);
    &__h2 {
      @include mixin.font(22px, 500, null, var(--dark));
    }
    &__btn {
      @include mixin.flex(center, center, null, null);
      background: var(--dark-blue);
      cursor: pointer;
      color: var(--white);
      padding: 10px 20px;
      border-radius: 12px;
      transition: 0.3s all ease;
      &:hover {
        background: var(--violet);
      }
    }
  }
}

.visible {
  transform: translateX(0); // конечное положение, когда элемент видимый
}
.aboutProduct {
  font-size: 16px;
  max-width: 100%;
  padding: 0 24px 24px;
}
