@use "../../../assets/scss/common/mixins" as mixin;
.modal {
  position: relative;
  @include mixin.flex(null, center, null, null);
}
.wrap {
  @include mixin.flex(center, center, null, null);
  position: fixed;
  z-index: 200;
  right: 13.7%;
  max-width: 100%;
  max-height: 100%;
  padding: 25px;
  border-radius: 5px;
  background: var(--dark-blue);

  animation: openAnim 0.4s forwards;

  &_info {
    @include mixin.flex(center, center, null, 10px);
    &_check {
      color: var(--white);
      scale: 1.2;
    }
    &_title {
      @include mixin.font(16px, 500, null, var(--white));
    }
  }
  &::after {
    display: inline-flex;
    position: absolute;
    top: -6px;
    right: 9px;
    z-index: 1000;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent var(--dark-blue);
    content: "";
  }
}
@keyframes openAnim {
  0% {
    top: -50px;
  }
  100% {
    top: 73px;
  }
}
