@use "../../../../assets/scss/common/mixins" as mixin;
@keyframes scaleUp {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.wrap {
  z-index: 100;
  position: absolute;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  opacity: 0;
  &_header {
    position: relative;
    @include mixin.flex(center, space-between, null, null);
    width: 100%;
    &_title {
      @include mixin.font(1.25rem, 500, null, var(--dark));
    }
    &_cross {
      position: absolute;
      top: 5px;
      right: 0;
      color: var(--secondary-gray);
      scale: 1.7;
      cursor: pointer;

      &:hover {
        color: var(--dark);
      }
    }
  }

  &_warning {
    margin-top: 15px;
    @include mixin.font(1rem, 400, null, var(--red));
    text-align: center;
    align-self: center;
    width: 100%;
  }

  &_delivery {
    margin-top: 15px;
    @include mixin.flex(flex-start, center, column, null);
    width: 100%;
    &_point {
      @include mixin.flex(center, flex-start, null, 8px);
      margin-top: 15px;
      border: 2px solid var(--secondary);
      border-radius: 5px;
      width: 100%;
      padding: 8px;
      cursor: pointer;
      @include mixin.font(14px, 400, null, var(--gray));

      &_active {
        border: 2px solid var(--dark-blue);
      }

      &_radio {
        content: " ";
        width: 14px;
        @include mixin.flex(center, center, null, null);
        height: 14px;
        border-radius: 50%;
        background: none;
        border: 1px solid var(--gray);

        &_active {
          border: 1px solid var(--dark-blue);
        }

        &_dot {
          display: none;

          &_active {
            content: " ";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: none;
            display: inline-block;
            background: var(--dark-blue);
          }
        }
      }
    }
    &_desc {
      width: 100%;
      @include mixin.flex(flex-start, flex-start, column, null);
      margin-top: 5px;
      background: var(--light);
      border-radius: 5px;
      padding: 0px 20px;
      height: 0;
      overflow: hidden;
      transition: 0.3s all;
      &_active {
        padding: 20px;
        height: auto;
      }

      &_schedule {
        @include mixin.font(0.875rem, 500, null, var(--dark));
      }
      &_workdays {
        @include mixin.font(0.875rem, 400, null, var(--dark));
      }
      &_info {
        margin-top: 15px;
        @include mixin.font(0.875rem, 400, null, var(--dark));
      }
    }
  }

  &_courier {
    margin-top: 15px;
    @include mixin.flex(flex-start, center, column, null);
    width: 100%;

    &_selectAddress {
      @include mixin.flex(center, flex-start, null, 0px);
      margin-bottom: 15px;
      width: 100%;
      border: 2px solid var(--secondary);
      border-radius: 5px;

      &_dropdown {
        border-radius: 3px 0px 0px 3px;
        background: var(--dark-blue);
        @include mixin.font(1rem, 400, null, var(--white));
        padding: 8px 10px;
        padding-right: 20px;
        cursor: pointer;
        transition: 0.2s all;
        position: relative;
        @include mixin.flex(center, center, null, null);

        &_arrow {
          position: absolute;
          top: 10px;
          right: 0;
          color: var(--white);
        }
      }
      &_input {
        border-radius: 5px;
        padding: 8px 5px;
        width: 100%;
        @include mixin.font(1rem 400, null, var(--dark));
      }
    }

    &_point {
      @include mixin.flex(center, flex-start, null, 8px);
      margin-top: 15px;
      border: 2px solid var(--secondary);
      border-radius: 5px;
      width: 100%;
      padding: 8px;
      cursor: pointer;
      @include mixin.font(14px, 400, null, var(--gray));

      &_active {
        border: 2px solid var(--dark-blue);
      }

      &_radio {
        content: " ";
        width: 14px;
        @include mixin.flex(center, center, null, null);
        height: 14px;
        border-radius: 50%;
        background: none;
        border: 1px solid var(--gray);

        &_active {
          border: 1px solid var(--dark-blue);
        }

        &_dot {
          display: none;

          &_active {
            content: " ";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: none;
            display: inline-block;
            background: var(--dark-blue);
          }
        }
      }
    }
    &_desc {
      width: 100%;
      @include mixin.flex(flex-start, flex-start, column, null);
      margin-top: 5px;
      background: var(--light);
      border-radius: 5px;
      padding: 0px 20px;
      height: 0;
      overflow: hidden;
      transition: 0.3s all;
      &_active {
        padding: 20px;
        height: auto;
      }

      &_schedule {
        @include mixin.font(0.875rem, 500, null, var(--dark));
      }
      &_workdays {
        @include mixin.font(0.875rem, 400, null, var(--dark));
      }
      &_info {
        margin-top: 15px;
        @include mixin.font(0.875rem, 400, null, var(--dark));
      }
    }

    &_selectTime {
      margin-top: 15px;
      @include mixin.flex(center, flex-start, null, 15px);
      width: 100%;

      &_button {
        cursor: pointer;
        position: relative;
        @include mixin.flex(center, center, null, null);
        @include mixin.font(1rem, 400, null, var(--gray));
        transition: 0.2s all;
        &:hover {
          color: var(--violet);
        }

        &_arrow {
          position: absolute;
          right: -25px;
          top: 1px;
          transition: 0.2s all;
          &_active {
            transition: 0.2s all;
            transform: rotate(-90deg);
            top: -3px;
          }
        }
      }
      &_dropdown {
        @include mixin.flex(center, center, column, null);

        &_toggler {
          border-radius: 1px solid var(--gray);
          padding: 10px 20px;
        }
      }
    }
  }

  &_typeDelivery {
    margin-top: 15px;
    @include mixin.flex(center, center, null, 15px);
    width: 100%;
    &_typePoint {
      box-shadow: 0px 3px 7px 0px rgba(34, 60, 80, 0.2);
      padding: 15px 40px;
      border-radius: 5px;
      border: none;
      @include mixin.font(0.875rem, 400, null, #555);
      @include mixin.flex(flex-start, center, null, 5px);
      cursor: pointer;
      background: #eee;

      &_disactive {
        background: var(--white);
        color: var(--dark-blue);
      }
    }
    &_typeCourier {
      cursor: pointer;
      box-shadow: 0px 3px 7px 0px rgba(34, 60, 80, 0.2);
      padding: 15px 40px;
      border-radius: 5px;
      border: none;
      background: var(--white);
      @include mixin.font(0.875rem, 400, null, var(--dark-blue));
      @include mixin.flex(center, center, null, 5px);
      &_active {
        color: #555;
        background: #eee;
        @include mixin.font(0.875rem, 400, null, var(--gray));
      }
    }
  }
  &_save {
    width: 100%;
    align-self: center;
    margin-top: 15px;
    border: 2px solid var(--dark-blue);
    background: var(--dark-blue);
    padding: 15px 0;
    cursor: pointer;
    @include mixin.font(1rem, 500, null, var(--white));
    border-radius: 5px;
    transition: 0.3s all;
    &:hover {
      background: none;
      color: var(--dark-blue);
    }
  }
}
.show {
  visibility: visible;
  opacity: 1;
  animation: scaleUp 0.3s ease-out forwards;
}
