@use "../../../assets/scss/common/mixins" as mixin;

.footerNavItemArrowIsActive {
  @include mixin.flex(center, center, null, null);
  user-select: none;
  transform: rotate(0deg);
  //   transition: 0.1s all;
  transition: transform 0.3s ease, border-color 0.3s ease;
  color: #b9b9c1;
}
.footerNavItemArrow {
  transform: rotate(180deg);
}
.brandContainer {
  padding: 8px 12px;
  position: relative;
}
.buttonBrand {
  cursor: pointer;
  height: 100%;
  max-width: 272px;
  --font-rubik: "__Rubik_0299a7", "__Rubik_Fallback_0299a7";
  @include mixin.flex(center, center, null, null);
  //   padding: 7px 12px 7px 12px;
  //   border-radius: 8px;
  //   box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  // font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    // color: var(--violet);
    > .footerNavItemArrowIsActive {
      color: #242424;
    }
  }
}
.showFiltersUl {
  // overflow: hidden;
  @include mixin.flex(null, null, column, 12px);
  // overflow-y: auto;
  width: 100%;
  max-height: 260px;
  padding-right: 6px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 20px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
  }
  &__div {
    /* Стили для скроллбара вебкит-браузеров */
    /* Track */
    &::-webkit-scrollbar {
      width: 12px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      transition: 0.5s;
      background: #888;
      border-radius: 6px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    @include mixin.flex(flex-start, flex-start, column, 12px);
    overflow-y: auto;
    width: 100%;
    max-height: 260px;
    padding-right: 6px;
  }
  display: none;
}
.showFiltersActive {
  @include mixin.flex(flex-start, null, column, null);
  width: 296px;
  max-height: 360px;
  padding: 20px;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.filtersContainer {
  // position: relative;
  @include mixin.flex(center, center, null, null);
}
.showFiltersUlContainer {
  @include mixin.flex(center, center, null, 10px);
  &:hover {
    > .showFiltersUlContainer__check {
      border-color: #a9a8b0;
    }
  }
  &__check {
    @include mixin.flex(center, center, null, null);
    width: 22px;
    height: 22px;
    background: var(--white);
    border: 1px solid #d3d4dd;
    border-radius: 6px;
  }
  &__checkActive {
    color: white;
    background: var(--dark-blue);
    border-color: var(--dark-blue);
    border: 0;
  }
  &__li {
    font-size: 16px;
    line-height: 22px;
    color: #242424;
  }
}
.buttonShowBrand {
  border-bottom: 1px dashed;
  font-size: 16px;
  line-height: 22px;
  border-color: initial;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: #242424;
  border-color: #868695;
  &:hover {
    color: var(--blue);
    border-color: initial;
  }
  // margin-top: 16px;
}
.buttonsContainer {
  @include mixin.flex(center, null, null, 10px);
  width: calc(100% + 8px);
  &__button {
    bottom: 0;
    color: var(--white);
    background: var(--dark-blue);
    font-size: 14px;
    line-height: 20px;
    padding: 7px 7px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s all ease;
    font-weight: 600;
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    cursor: pointer;
    color: var(--white);
    &:hover {
      background: var(--violet);
    }
  }
  &__buttonDisabled {
    &:disabled {
      color: var(--dark-blue);
      background: var(--white);
      border: 1px solid var(--dark-blue);
      cursor: not-allowed;
    }
    // background: #091b47;
    &:hover {
      background: none;
    }
  }
}
.inputPrice {
  padding: 6px 12px;
  height: 36px;
  background-color: #f1f1f5;
  border-color: #f1f1f5;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  width: 100%;
  border: 1px solid #d3d4dd;
  border-radius: 8px;
  height: auto;
  font-size: 16px;
  line-height: 16px;
  color: #242424;
  &:hover {
    background-color: #e8e8f0;
    border-color: #e8e8f0;
  }
}
.breadcrumb {
  margin-bottom: 30px;
}
.links {
  @include mixin.flex(center, flex-start, null, 6px);
}

.link {
  color: #112b66;
  font-size: 14px;
  text-decoration: none;
}
.titleProducth1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
}
.option {
  // @include mixin.font(16px, 500, null, var(--black));
  @include mixin.flex(center, center, null, 8px);
  cursor: pointer;
  // padding: 5px 0;
  text-wrap: nowrap;

  &__cyrcle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid #d3d4dd;
    border-radius: 50%;
    background: #fff;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      top: 0;
      left: 0;
      right: 0;
      background: var(--dark-blue);
      border-radius: 50%;
      display: none;
    }
  }
  &__cyrcled {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid black;
  }
}
.selected {
  color: var(--black);
  .option__cyrcle {
    &::after {
      display: block;
    }
    border: 2px solid var(--dark-blue);
  }
}
.divAll {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  position: absolute;
  gap: 20px;

  top: 10px;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  &__divUl {
    /* Стили для скроллбара вебкит-браузеров */
    /* Track */
    &::-webkit-scrollbar {
      width: 12px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      transition: 0.5s;
      background: #888;
      border-radius: 6px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    @include mixin.flex(flex-start, flex-start, column, 12px);
    width: 300px;
    overflow-y: auto;
    max-height: 260px;
    padding-right: 6px;
  }
}
