@use '../../../assets/scss/common/mixins' as mixin;
.promotion__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }


}

.promotion__buttons {
  @include mixin.flex(center, center);

  &_showMore {
    margin-top: 20px;
    @include mixin.button(
      10px 25px,
      null,
      2px solid var(--dark-blue),
      10px,
      var(--white),
      18px,
      500,
      var(--black)
    );
    transition: 0.2s ease-out; 
    &:hover {
      background: var(--dark-blue);
      color: var(--white);
    }
  }
}

.promotion__card {
  opacity: 0; 
  transition: opacity 0.5s ease; 
  &_link{
    display: block;
    max-height: 283px;
    height: 100%;
    overflow: hidden;
  } 
  &_img{
    transition: 0.3s;
    user-select: none;
    border-radius: 10px;

  cursor: pointer;
    width: 100%;
    height: auto;
      &:hover{
        transform: scale(1.02);

  }
  }
}

.promotion__card:not(.promotion__card--shown) {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}
