@use "../../../assets/scss/common/mixins" as mixin;
.brands__container {
  @include mixin.flex(null, null, column, null );
}

.brandsContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.brandsItem {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  border-radius: 5px;
  padding: 0px 20px;
  max-width: 230px;
  height: 100px;
  box-shadow: 0 2px 8px 0px rgba(34, 60, 80, 0.2);
  @include mixin.flex(center, center, null, null );
  cursor: pointer;
  text-decoration: none;
   @include mixin.font(16px, 600, 21px, var(--gray-dark));
  text-align: center;

  &:hover {
      color: var(--violet);
  }
  @media screen and (max-width: 1200px) {
    max-width: 260px;
  }
}
