@use '../../../assets/scss/common/mixins' as mixin;


.auth__section{
    margin-top: 40px;

    @media screen and (max-width: 640px) {
        margin-top: 20px;
    }
}

.auth__container{
    @include mixin.flex(center,null,null,50px);
    background: #F6F6F6;
    border-radius: 5px;
    padding: 30px;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: 15px;
    }
    @media screen and (max-width: 640px) {
        padding: 20px 5px;
    }
}

.auth__button{
    cursor: pointer;
    @include mixin.font(18px,400,150%, var(--white));
    @include mixin.flex(center,center,null,15px);
    color: var(--white);
    background: var(--dark-blue);
    max-width: 450px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s ease-in;
    user-select: none;
    @media screen and (max-width: 992px) {
        max-width: 100%;
        gap: 10px;
    }
    @media screen and (max-width: 480px) {
        gap: 5px;
    }
    @media screen and (max-width: 360px) {
        display: inline;
    }

    &:hover{
        background: var(--violet);
    }

    &_icon{
        @include mixin.flex(center,center);
        
        @media screen and (max-width: 360px) {
            display: inline;
            margin-right: 10px;
        }
    }
}

.auth__desc{
    @include mixin.font(16px,400,150%,var(--dark));
}