@use "../../../assets/scss/common/mixins" as mixin;
.modal {
  position: relative;
  @include mixin.flex(null, center, null, null);
  margin: 0 auto;
}
.wrapper {
  @include mixin.flex(center, null, column, null);
  position: fixed;
  background: var(--white);
  z-index: 200;
  max-width: 510px;
  max-height: 90%;
  padding: 25px;
  border-radius: 5px;
  top: 35px;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    transition: 0.5s;
    background: #b6b6b6;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f;
  }

  &_nav {
    width: 100%;
    @include mixin.flex(center, space-between, null, null);
    &_title {
      user-select: none;
      @include mixin.font(1.125rem, 500, null, var(--dark));
      align-self: flex-start;
    }
    &_cross {
      cursor: pointer;
      color: var(--secondary-gray);
      &:hover {
        color: var(--dark);
      }
    }
    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }

  &_sendBtn {
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    max-width: 450px;
    width: 100%;
    background: linear-gradient(
      88.03deg,
      var(--violet) 1.19%,
      var(--dark-blue) 97.58%
    );
    background-size: 300% 100%;
    padding: 12px 60px;

    @include mixin.font(1rem, 400, null, var(--white));
    text-align: center;
    transition: 0.3s all;
    &:hover {
      background-size: 100% 80000%;
    }
  }
  @media screen and (max-width: 640px) {
    padding: 10px;
  }
}
.container {
  @include mixin.flex(center, null, column, null);
  background: var(--white);
  z-index: 200;



  &_product {
    align-self: flex-start;
    @include mixin.flex(center, center, null, 10px);
    &_imageContainer {
      max-width: 100px;
      max-height: 100px;
      border-radius: 5px;
      &_productImage {
        user-select: none;
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }
    }
    &_productName {
      @include mixin.font(1rem, 400, null, var(--dark));
      max-width: 350px;
    }
  }

  &_ocenka {
    margin-right: 10px;
    @include mixin.flex(null, center, null, null);
    position: relative;
    margin-top: 5px;
    &_rating {
      @include mixin.flex(center, center, null, 25px);
      &_star {
        scale: 1.8;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
    &_text {
      user-select: none;
      position: absolute;
      margin-top: 25px;
      @include mixin.font(1rem, 400, null, var(--secondary-gray));
    }
    &_warning {
      text-wrap: nowrap;
      padding-left: 2px;
      left: -25px;
      bottom: -40px;
      position: absolute;
      @include mixin.font(0.875rem, 700, null, var(--danger));
    }
    @media screen and (max-width: 576px) {
      margin: 10px auto 25px;
    }
  }
  &_inputs {
    position: relative;
    margin-top: 25px;
    width: 100%;
    @include mixin.flex(center, null, column, null);

    &_title {
      user-select: none;
      width: 100%;
      @include mixin.font(1rem, 400, null, var(--secondary-gray));
    }
    &_name {
      @include mixin.font(1rem, 400, null, var(--dark));
      width: 100%;
      border: 2px solid var(--secondary-white);
      border-radius: 5px;
      outline: none;
      padding: 8px 8px;
      // margin: 0 2px;
      &:focus {
        border-radius: 5px;
        border: 2px solid var(--focus);
      }
    }
    &_warning {
      left: 0;
      bottom: -20px;
      position: absolute;
      @include mixin.font(0.875rem, 700, null, var(--danger));
    }
    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }
  &_areas {
    margin-top: 10px;
    width: 100%;
    @include mixin.flex(center, null, column, null);
    &_block {
      @include mixin.flex(flex-start, null, column, null);
      width: 100%;
      &_title {
        user-select: none;
        width: 100%;
        padding: 0;
        @include mixin.font(1rem, 400, null, var(--secondary-gray));
      }
      &_area {
        overflow-y: hidden;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 8px 8px;
        @include mixin.font(1rem, 400, null, var(--dark));
        resize: none;
        width: 100%;
        max-height: 165px;
        border: 2px solid var(--secondary-white);;
        outline: none;
        &:focus {
          border: 2px solid var(--focus);
          outline: none;
        }
      }
    }
    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }
  &_selectMedia {
    @include mixin.flex(center, center, null, null);
    width: 100%;
    &_uploadBtn {
      @include mixin.flex(center, center, null, 10px);
      background-color: var(--secondary);
      border-radius: 5px;
      padding: 10px 60px;
      width: 100%;
      position: relative;
      border: 2px solid var(--secondary-white);;
      outline: none;
      transition: 0.4s all;
      
      &:hover {
        background-color: var(--white);
      }
      &_text {
        user-select: none;
        @include mixin.font(1rem, 700, null, var(--dark));
      }
      &_input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }
  &_userMediaPreview {
    margin-right: 10px;
    margin-top: 15px;
    align-self: flex-start;
    @include mixin.flex(center, center, null, 10px);
    &_item {
      border-radius: 5px;
      max-width: 100px;
      width: 100%;
      max-height: 100px;
      position: relative;
      &_cross {
        cursor: pointer;
        top: -6px;
        right: -6px;
        @include mixin.flex(center, center, null, null);
        position: absolute;
        border-radius: 50%;
        background: var(--dark-blue);
        color: var(--white);
        &:hover {
          background: var(--dark);
        }
      }
      &_img {
        margin-top: 10px;
        border: 2px solid var(--dark-blue);
        width: 100%;
        max-height: 80px;
        height: 100%;
        border-radius: 5px;
      }
    }
    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }
  &_anonim {
    margin-right: 10px;
    user-select: none;
    margin-top: 5px;
    max-width: 450px;
    width: 100%;

    &_btn {
      padding: 5px 0px;
      cursor: pointer;
      @include mixin.flex(center, center, null, 10px);
    }
    &_check {
      @include mixin.flex(center, center, null, null);
      width: 22px;
      height: 22px;
      background: var(--white);
      border: 1px solid #d3d4dd;
      border-radius: 5px;
    }
    &_checkActive {
      color: white;
      background: var(--dark-blue);
      border-color: var(--dark-blue);
      border: 0;
    }
    &_text {
      @include mixin.font(1rem, 400, null, var(--dark));
    }
    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }
  &_reCaptcha {
    margin-right: 10px;
    user-select: none;
    @include mixin.flex(flex-start, null, null, null);
    max-width: 450px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    padding-bottom: 20px;
    &_warning {
      left: 0;
      bottom: 0;
      position: absolute;
      @include mixin.font(0.875rem, 700, null, var(--danger));
    }
    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }
}
.thanks {
  @include mixin.flex(center, center, column, 50px);
  background: var(--white);
  height: 680px;
  width: 512px;
  z-index: 200;
  &_cross {
    cursor: pointer;
    color: var(--secondary-gray);
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      color: var(--dark);
    }
  }

  &_image {
    scale: 1.5;
  }

  &_text {
    @include mixin.flex(center, center, column, 5px);
    &_title {
      @include mixin.font(18px, 700, null, var(--dark));
      align-self: center;
      user-select: none;
      text-wrap: nowrap;
    }
    &_desc {
      @include mixin.font(0.875rem, 400, null, var(--dark));
    }
  }
  &_close {
    position: absolute;
    bottom: 15px;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    max-width: 450px;
    width: 100%;
    background: linear-gradient(
      88.03deg,
      var(--violet) 1.19%,
      var(--dark-blue) 97.58%
    );
    background-size: 300% 100%;
    padding: 12px 60px;
    @include mixin.font(1rem, 400, null, var(--white));
    text-align: center;
    transition: 0.3s all;
    &:hover {
      background-size: 100% 80000%;
    }
  }
}
