@use "../../../../assets/scss/common/mixins" as mixin;

.container {
  user-select: none;
  @include mixin.flex(center, flex-start, null, 10px);
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin-top: 20px;
  margin-bottom: 20px;
  &_filter {
    text-align: center;
    cursor: pointer;
    @include mixin.flex(center, center, null, null);
    outline: 1px solid var(--dark-blue);
    padding: 0px 10px;
    border-radius: 5px;

    &__value {
      cursor: pointer;
      @include mixin.font(14px, 400, null, var(--dark-blue));
    }
    &__cross {
      margin-top: 3px;
      cursor: pointer;
      scale: 0.5;
      color: var(--dark-blue);
    }
  }
  &__clear_all {
    background: var(--dark-blue);
    padding: 5.9px 10px;
    border-radius: 5px;
    outline: 1px solid var(--dark-blue);
    @include mixin.font(14px, 400, null, var(--white));
    cursor: pointer;
    @include mixin.flex(center, center, null, null);
    transition: 0.5s all;
    text-align: center;
    &:hover {
      background: none;
      outline: 1px solid var(--dark);
      color: var(--dark);
    }
  }
  @media screen and (max-width: 992px) {
    padding: 0px 15px;
  }
  @media screen and (max-width: 640px) {
    padding: 0px 8px;
  }
}
