@use "../../../assets/scss/common/mixins" as mixin;

.footerMoreSection{
  @include mixin.flex(center, center, column, null);
}
.footerDescBlockTitle {
  text-align: justify;
  user-select: none;
  margin-top: 10px;
  @include mixin.link(14px, 400, var(--white));
  filter: brightness(80%);
  padding-bottom: 20px;
}
.truncateToggler {
  padding: 10px 0px;
  user-select: none;
  cursor: pointer;
  color: var(--white);
  border-bottom: 2px dashed var(--white);
}
