@use "../../../assets/scss/common/mixins" as mixin;

.nav{
    width: 320px;
    @include mixin.flex(center, space-around, null );
    
    @media screen and (max-width: 1200px) {
        width: 100%;
        gap: 25px;
    }

    &__link{
        cursor: pointer;
        @include mixin.link(16px,400,var(--white));
        @include mixin.flex(center,center,column,null);
        opacity: 0.7;
        transition: 0.2s;

        &:hover{
            opacity: 1;
        }
    }
}

.active{
    color: var(--white);
    opacity: 1;

}