@use "../../../assets/scss/common/mixins" as mixin;

.nav{
    width: 320px;
    height: 40px;
    @include mixin.flex(center, space-around, null );
    
    @media screen and (max-width: 1200px) {
        width: 100%;
        gap: 25px;
    }

    &__link{
        list-style: none;
        outline: none;
        background: none;
        border: none;
        box-sizing: border-box;
        font-size: inherit;
        font-style: inherit;
        @include mixin.flex(center, center,column-reverse,3px);
        text-decoration: none;
        opacity: 0.8;
            transition: 0.2s;

        &_title{
            color: var(--gray-white);
        }

        &_title:hover{
            color: var(--white);
        }

        &:hover{
            opacity: 1;
        }
    }
}

.active{
    color: var(--white);
    opacity: 1;

}