@use "../../../assets/scss/common/mixins" as mixin;

.nav{
    width: 320px;
    @include mixin.flex(center, space-between, null, 10px );
    
    @media screen and (max-width: 1200px) {
        width: 100%;
        gap: 25px;
    }

    &__link{
        @include mixin.flex(center, center,column-reverse,3px);
        text-decoration: none;
        opacity: 0.6;
            transition: 0.1s;
            max-height: 40px;
            height: 100%;

        &_title{
            color: var(--gray-white);
        }

        &_title:hover{
            color: var(--white);
        }

        &:hover{
            opacity: 1;
        }
    }
}

.active{
    color: var(--white);
    opacity: 1;

}