@use "../../../assets/scss/common/mixins" as mixin;
@use "../../../assets/scss/common/skeleton" as skeleton;

.catalogs {
  @include mixin.container(1440px);
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: white;
  &__left {
    padding: 15px;
    position: relative;
  }
  &__right {
    padding: 10px;
    margin: 0 10px;
    border-left: 1px solid #cfcfcf;
  }
  min-height: 100vh;
  position: relative;
  z-index: 100;
}
.catalogs__9h3 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #424242;
}
.triangle {
  display: inline-flex;
  position: absolute;
  top: -6px;
  right: 8px;
  z-index: 1000;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: transparent transparent var(--white);
  content: "";
}
.catalogLinkContainer {
  border-radius: 4px;
  &:hover {
    background: var(--gray-white);
  }
  &.catalogActive {
    background: var(--gray-white);
  }
  &_skeleton {
    @include skeleton.skeleton(auto, 30px, 5px);
  }
}
.catalogs__9h3_skeleton {
  display: block;
  @include skeleton.skeleton(300px, 20px, 20px);
}
.subCatalogsUl__li_skeleton {
  display: block;
  @include skeleton.skeleton(177px, 14px, null);
}
.category__li__h3_skeleton {
  @include skeleton.skeleton(250px, 14px, null);
  display: block;
}
.catalogs__h2 {
  text-decoration: none;
  @include mixin.flex(center, space-between, null, null);
  text-decoration: none;
  margin-left: 10px;
  color: var(--gray-dark);
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.spanChevron {
  @include mixin.flex(center, center, null, null);
  max-height: 20px;
  max-width: 20px;
}
.category__ul {
  @include mixin.flex(null, flex-start, null, 16px);
  flex-wrap: wrap;
  list-style-type: none;
}
.category__li {
  order: 1;
  text-align: left;
  margin: 0 1%;
}
.category__li__h3 {
  text-decoration: none;
  font-size: 14px;
  display: block;
  color: var(--gray-dark);
  font-weight: 600;
  line-height: 14px;
  cursor: pointer;
  &:hover {
    color: var(--violet);
  }
}
.itemContainer {
  @include mixin.flex(flex-start, null, column, 10px);
  width: 25%;
  height: max-content;
}
.category__li__h33 {
  margin: 10px 0;
  font-size: 14px;
  display: block;
  padding: 0 5px;
  color: var(--gray-dark);
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
  &:hover {
    color: var(--violet);
  }
}
.itemConteinerUL {
  @include mixin.flex(null, null, column, 10px);
}

.subCatalogsUl {
  @include mixin.flex(null, null, column, 10px);
  &__li {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--gray-dark);
    font-weight: 400;
    line-height: 14px;
    &:hover {
      color: var(--violet);
    }
  }
}
.subMenu {
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  padding: 0 5px;
  margin: 10px 1%;
  max-height: 805px;
  height: 100%;
  overflow-y: auto;
  /* Стили для скроллбара вебкит-браузеров */
  /* Track */
  &::-webkit-scrollbar {
    cursor: pointer;
    width: 15px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    transition: 0.5s;
    background: #888;
    border-radius: 6px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #555;
  }
}
.buttonsCatalogs {
  @include mixin.flex(center, flex-start, null, null);
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.12s ease-out;
  touch-action: manipulation;
  outline: 0;
  &:hover {
    color: var(--violet);
  }
}
.chevronRightIconCatalog {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #737373;
}

.buttonsSpanCatalogs {
  @include mixin.flex(center, center, null, null);
}
@media screen and (min-width: 1920px) {
  .catalogs__h2 {
    padding: 4px;
  }
}
@media screen and (max-width: 992px) {
  .triangle {
    display: none;
  }
  .catalogs {
    max-width: 720px;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .catalogs {
    max-width: 540px;
    border: none;
  }
}
@media screen and (max-width: 576px) {
  .catalogs {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .catalogs__h2 {
    margin: 0;
  }
  .category__ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 420px) {
  .category__ul {
    grid-template-columns: 1fr;
  }
}
