@use "../../../assets/scss/common/mixins" as mixin;

.container {
  @include mixin.container(1440px);
  margin-top: 20px;
  padding: 0 15px 15px 15px;
}
.container__h1 {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #212529;
}
.containerSubCatalog {
  width: 244px;
}
.row {
  @include mixin.flex(flex-start, flex-start, null, 50px);
  &__containerRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    gap: 10px;
    width: 100%;
    max-width: 1350px;
  }
}
.catalog__lih3 {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  word-break: break-word;
  color: #212529;
  &:hover {
    color: var(--violet);
  }
}
.imageChild {
  color: #212529;
}
.row__9li {
  cursor: pointer;
  @include mixin.flex(center, center, column, 10px);
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0);
}
.name__h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #212529;
}
.link {
  @include mixin.flex(center, center, null, null);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #112b66;
  text-decoration: none;

  &:hover {
    color: var(--white);
  }
}
.breadcrumb {
  padding: 0.75rem 0rem;
}
.links {
  @include mixin.flex(center, null, null, 10px);
}
.subCatalogUL {
  @include mixin.flex(null, null, column, 5px);
}
.subCatalogLI {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.subCatalogsContainerUL {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  min-width: 250px;
  padding: 10px;
  outline: 1px solid var(--super-light-white);
  border-radius: 5px;
  height: 100%;
  @include mixin.flex(null, null, column, 25px);
  @media screen and (max-width: 1200px) {
    display: none;
  }
  @media screen and (max-width: 576px) {
    margin-left: 8px;
    padding: 8px;
  }
}
.buttonsCatalogs {
  @include mixin.flex(center, center, null, 2px);
  color: #0c54a1;
  font-size: 12px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .row__containerRow {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .contain {
    max-width: 720px;
  }
}

@media screen and (max-width: 960px) {
  .row {
    flex-direction: column;
    gap: 10px;
  }
  .wrapps {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .wrapps {
    display: none;
  }
  .container {
    max-width: 720px;
  }
  .row__containerRow {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .links {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .row__9li {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .row {
    align-items: center;
    justify-content: center;
  }
  .row__containerRow {
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .container__h1 {
    text-align: center;
  }
}
