@use "../../../assets/scss/common/mixins" as mixin;

.catalogTitle {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #212529;
}
.catalogContainer {
  @include mixin.flex(flex-start, flex-start, null, 20px);
  &__containerSubCatalog {
    width: 100%;
    max-width: 244px;
  }
  &__cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    gap: 10px;
    width: 100%;
    max-width: 1350px;
  }
}
.catalogFirst {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  word-break: break-word;
  color: #212529;
  &:hover {
    color: var(--violet);
  }
}
.imageChild {
  color: #212529;
}
.cotainerCart {
  cursor: pointer;
  @include mixin.flex(center, center, column, 10px);
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0);
  width: 100%;
  &:hover {
    > .nameCatalog {
      color: var(--violet);
    }
  }
}
.nameCatalog {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #212529;
}
.link {
  @include mixin.flex(center, center, null, null);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #112b66;
  text-decoration: none;

  &:hover {
    color: var(--white);
  }
}
.breadcrumb {
  padding: 0.75rem 0rem;
}
.links {
  @include mixin.flex(center, null, null, 10px);
}
.subCatalogUL {
  @include mixin.flex(null, null, column, 5px);
}
.subCatalogLI {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.subCatalogsContainerUL {
  user-select: none;
  user-select: none;
  padding: 10px;
  outline: 1px solid var(--super-light-white);
  border-radius: 5px;
  height: 100%;
  @include mixin.flex(null, null, column, 15px);
  // @media screen and (max-width: 1200px) {
  //   display: none;
  // }
  // @media screen and (max-width: 576px) {
  //   margin-left: 8px;
  //   padding: 8px;
  // }
}
.buttonsCatalogs {
  @include mixin.flex(center, center, null, 2px);
  color: #0c54a1;
  font-size: 12px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .catalogContainer__cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .catalogContainer__cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .subCatalogsContainerUL {
    display: none;
  }
  .catalogContainer {
    gap: 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 480px) {
  .catalogContainer__cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
