@use '../../../../assets/scss/common/mixins' as mixin;

.main__news{
    @include mixin.flex(null,space-between,null,30px);
    margin-top: 10px;
    @media screen and (max-width: 640px) {
        flex-direction: column;
        gap: 20px;
    }
    width: 100%;

    &_images{
        max-width: 480px;
        @media screen and (max-width: 640px) {
            max-width: 100%;
        }
    }
    &_image{
        cursor: pointer;
        object-fit: cover;
        user-select: none;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 6px 3px rgba(34, 60, 80, 0.2);

        @media screen and (max-width: 992px) {
            width: 380px;
        }
        @media screen and (max-width: 640px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &_info{
        max-width: 100%;
        width: 100%;
        @include mixin.flex(center,space-between,column, 10px);
        height: auto;

        @media screen and (max-width: 992px)  {
            max-width: 600px;
        }
    }

    &_data{
        @include mixin.flex(center,space-between,null, null);
        width: 100%;
        @include mixin.font(16px,400,150%,#424242);
    }
    &_desc{
    height: 100%;
    width: 100%;
        &_link{
            color: var(--dark-blue);
            text-decoration: none;
            border-bottom: 2px dashed var(--dark-blue);
        }
    }

    &_cards{
        margin-top: 40px;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(5,1fr);
        gap: 25px;
        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(4,1fr);
            gap: 15px;
        }
        @media screen and (max-width: 992px) {
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 640px) {
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
    }
}

.news__card{
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    width: 100%;
    @include mixin.flex(flex-start,center,column);
    &:hover{
        box-shadow: 0px 0px 6px 3px rgba(22, 24, 26, 0.2); // Box shadow on hover
    }
    @media screen and (max-width: 480px) {
        box-shadow: 0px 0px 6px 3px rgba(22, 24, 26, 0.2); // Box shadow on hover
        
    }
    &_images{
        max-width: 100%;
        width: 100%;
        max-height: 262px;
        @media screen and (max-width: 768px) {
            max-height: 100%;
        }

        @media screen and (max-width: 480px) {
            max-height: 100%;
        }
    }

    &_image{
        min-height: 100%;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media screen and (max-width: 992px) {
            max-height: 280px;

        }
        @media screen and (max-width: 768px) {
            max-height: 300px;
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 480px) {
            min-height: 150px;
            min-width: 150px;
        }
    }

    &_price{
        @include mixin.font(16px,700,100%,var(--gray-dark));
        @include mixin.flex(center,null,null,3px);
        &_custom{
            @include mixin.flex(center,center);
            text-decoration: 2px underline;
        }
    }

    &_name{
        @include mixin.font(14px,400,100%,#62656a);
        max-height: 28px;
        overflow: hidden;
    }

    &_info{
        padding: 10px 10px;
        @include mixin.flex(flex-start,space-between,column);
        min-height: 190px;
        width: 100%;

        @media screen and (max-width: 480px) {
            min-height: 160px;
        }
        @media screen and (max-width: 360px) {
            min-height: 175px;
        }
    }
}

.add__to{
    @include mixin.flex(null,space-between,null,10px);
    width: 100%;

    &_cart{
        background: var(--dark-blue);
        cursor: pointer;
        color: var(--white);
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        @include mixin.flex(center,center,null, 10px);
        transition: 0.3s all ease;
        &:hover{
            background: var(--violet);

        }
        @media screen and (max-width: 480px) {
            @include mixin.font(14px,400,100%,var(--white))
        }
        &_icon{
        @media screen and (max-width: 480px) {
            display: none;
        }
        }

    }

    &_fav{
        background: #f6f6f6;
        border: 2px solid #f6f6f6;
        padding: 10px; 
        cursor: pointer;
        border-radius: 5px;

        &:hover{
            border: 2px solid var(--violet)
        }

        &_icon{
            @include mixin.flex(center,center);
            height: 20px;
        }
        &_active{
            border: 2px solid var(--violet)
        }
        @media screen and (max-width:480px) {
            padding: 5px;
        }
    }
}

.ddos{
    @include mixin.flex(center,center,null, 5px);
    @include mixin.font(14px,400,100%,#0c54a1);

    &__icon{
        width: 20px;
        height: 20px;
    }
}

.ocenka{
    @media screen and (max-width: 480px) {
        display: none;
    }
}